@font-face {
  font-family: Nunito;
  font-weight: normal;
  src: url("../../assets/fonts/Nunito-Regular.ttf");
}
@font-face {
  font-family: Nunito;
  font-weight: 500;
  src: url("../../assets/fonts/Nunito-SemiBold.ttf");
}
@font-face {
  font-family: Nunito;
  font-weight: 700;
  src: url("../../assets/fonts/Nunito-Bold.ttf");
}
@font-face {
  font-family: Nunito;
  font-weight: 800;
  src: url("../../assets/fonts/Nunito-ExtraBold.ttf");
}
.centralize {
  height: 100%;
  width: 100%;
  padding: 0;
}

.container {
  height: 100%;
  width: 80vw;
}
.container form {
  width: 100%;
}
.container .addEvent-step {
  display: block;
}
.container #form-addEvent-jobs .addEvent-step .flex-inputs .group-jobs .job, .container .addEvent-step:nth-child(2) .flex-inputs .group-labels .typeEvent-label {
  background: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 3px solid #3171e0;
  box-shadow: 0 12px 24px 3px rgba(0, 0, 0, 0.06);
  border-radius: 14px;
  padding: 24.75px 31.5px 24.75px 31.5px;
  cursor: pointer;
  margin-right: 40px;
  margin-left: 40px;
}
.container #form-addEvent-jobs .addEvent-step .flex-inputs .group-jobs .job img.icon, .container .addEvent-step:nth-child(2) .flex-inputs .group-labels .typeEvent-label img.icon {
  height: 100px;
  width: 100px;
}
.container #form-addEvent-jobs .addEvent-step .flex-inputs .group-jobs .job p, .container .addEvent-step:nth-child(2) .flex-inputs .group-labels .typeEvent-label p {
  font-size: 1.75em;
  font-weight: normal;
  margin: 20px 0 0 0;
  text-align: center;
}
.container .addEvent-step:nth-child(1) {
  margin-top: 0;
}
.container .addEvent-step:nth-child(1) .flex-inputs {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
}
.container .addEvent-step:nth-child(1) .flex-inputs .form-input-icon {
  margin: 20px 0 0 0;
  padding: 0;
  width: 100%;
}
.container .addEvent-step:nth-child(1) .flex-inputs .form-input-icon .form-input {
  width: 100%;
  margin: 0;
}
.container .addEvent-step:nth-child(1) .flex-inputs .form-input,
.container .addEvent-step:nth-child(1) .flex-inputs .form-textarea {
  margin: 20px 0 0 0;
}
.container .addEvent-step:nth-child(1) .flex-inputs textarea#description-event {
  grid-area: 6;
}
.container .addEvent-step:nth-child(2) {
  display: none;
}
.container .addEvent-step:nth-child(2) .flex-inputs {
  min-height: calc((43px + 1.25rem) * 6);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
.container .addEvent-step:nth-child(2) .flex-inputs .group-labels {
  display: flex;
  justify-content: space-between;
  width: 600px;
}
.container .addEvent-step:nth-child(2) .flex-inputs .group-labels .typeEvent-label {
  transition: opacity 0.25s;
}
.container .addEvent-step:nth-child(2) .flex-inputs .group-labels .typeEvent-Radio {
  display: none;
}
.container .addEvent-step:nth-child(2) .flex-inputs .typeEvent-inputs {
  width: 520px;
  display: none;
  margin-top: 20px;
}
.container .addEvent-step:nth-child(2) .flex-inputs .typeEvent-inputs .input {
  display: inline-block;
  margin-right: 20px;
}
.container .addEvent-step:nth-child(2) .flex-inputs .typeEvent-inputs .input label {
  display: block;
  font-size: 1.75em;
  font-weight: 500;
  margin: 20px 0 0 0;
}
.container .addEvent-step:nth-child(2) .flex-inputs .typeEvent-inputs .input input {
  display: block;
  width: auto;
  margin: 10px 0 0 0;
}
.container .addEvent-step:nth-child(2) .flex-inputs .typeEvent-inputs .input-block {
  display: block;
}
.container .addEvent-step button[type=submit],
.container .addEvent-step .form-submit {
  width: auto;
  padding: 10px 20px 10px 20px;
  font-size: 1.4em;
  margin-top: 20px;
  display: inline-block;
}
.container #form-addEvent-jobs .addEvent-step {
  display: none;
}
.container #form-addEvent-jobs .addEvent-step .flex-inputs {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container #form-addEvent-jobs .addEvent-step .flex-inputs .group-jobs {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}
.container #form-addEvent-jobs .addEvent-step .flex-inputs .group-jobs .job {
  padding: 50px 35px 50px 35px;
}
.container #form-addEvent-jobs .addEvent-step .flex-inputs .group-jobs .add-job {
  display: none;
  width: auto;
}
.container #form-addEvent-jobs .addEvent-step .flex-inputs .group-jobs .add-job .form-input {
  width: 100%;
}

.overlay {
  display: none;
  position: relative;
}
.overlay form {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay form .modal {
  width: 450px;
}
.overlay form .modal #addEvent-imageUp {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 450px;
}
.overlay form .modal #addEvent-imageUp label.imageUp {
  height: 200px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  border-radius: 7px;
  position: relative;
  cursor: pointer;
}
.overlay form .modal #addEvent-imageUp label.imageUp img {
  height: 100px;
  width: 100px;
}
.overlay form .modal #addEvent-imageUp .title {
  margin-top: 20px;
}
.overlay form .modal #addEvent-imageUp .text {
  font-size: 1.4em;
  margin-top: 10px;
}
.overlay form .modal #addEvent-imageUp #event-image {
  display: none;
}
.overlay form .modal .preview {
  width: 350px;
}
.overlay form .modal .preview .title {
  margin-bottom: 40px;
}
.overlay form .modal .preview .success-title {
  text-align: center;
  margin: 40px 0 20px 0;
}
.overlay form .modal .preview img.preview-image {
  height: 200px;
  width: 350px;
  border-radius: 7px;
  object-fit: cover;
}
.overlay form .modal .preview .preview-title {
  font-size: 2em;
  margin: 20px 0 0 0;
}
.overlay form .modal .preview .preview-content {
  font-size: 1.25em;
  margin: 10px 0 0 0;
}
.overlay form .modal .preview button[type=submit],
.overlay form .modal .preview .form-submit {
  width: auto;
  margin-top: 20px;
}
.overlay form .modal .preview a {
  font-size: 1.25em;
  display: block;
  text-align: center;
  text-decoration: underline;
  margin-top: 20px;
}

/*# sourceMappingURL=addEvent.css.map */
