button.btn-filters {
  border: none;
  font-size: 1.25rem;
  font-weight: 100;
  text-align: center;
  padding: 10px 15px 10px 15px;
  border-radius: 7px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block !important;
  margin-top: 20px;
}

.box {
  padding: 20px 40px 20px 40px;
  background: white;
  border-radius: 7px;
  border: 1px solid #eeeeee;
  box-shadow: 0 6px 12px -3px rgba(0, 0, 0, 0.16);
}

.width-auto {
  width: auto;
  flex-grow: 0;
}

.title {
  font-size: 2rem;
  font-weight: 900;
  margin: 0 0 0 0;
}

.small-text {
  font-size: 1rem;
}

.medium-text {
  font-size: 1.5rem;
}

.big-text {
  font-size: 2.5rem;
}

.light-weight-text {
  font-weight: 100;
}

.medium-weight-text {
  font-weight: 500;
}

.large-weight-text {
  font-weight: 800;
}

.text {
  font-size: 1.25rem;
  text-align: left;
  font-weight: normal;
  margin: 0 0 0 0;
}

.blue {
  color: #3171e0;
}

.bg-lightBlue {
  background: #fafaff;
}

.margin0 {
  margin: 0;
}

.margin-top1 {
  margin-top: 10px;
}

.margin-top2 {
  margin-top: 20px;
}

.margin-top4 {
  margin-top: 40px;
}

.margin-btm4 {
  margin-bottom: 40px;
}

.margin-btm2 {
  margin-bottom: 20px;
}

.margin-btm1 {
  margin-bottom: 10px;
}

.padding-top2 {
  padding-top: 20px;
}

.padding-top4 {
  padding-top: 40px;
}

.padding-btm2 {
  padding-bottom: 20px;
}

.padding-btm4 {
  padding-bottom: 40px;
}

.padding-4 {
  padding: 40px;
}

.border-box {
  box-sizing: border-box;
}

.block {
  display: block;
}

.group-asides {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  width: 100vw;
}
.group-asides .aside {
  height: 100%;
}

.width-70 {
  width: 70;
}

.width-60 {
  width: 60vw;
}

.width-50 {
  width: 50vw;
}

.width-40 {
  width: 40vw;
}

.align-center {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.centralize {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100vmax !important;
}

.container {
  box-sizing: border-box;
  position: relative;
  width: 80vw;
}

.steps {
  padding: 0;
  margin: 0 0 40px 0;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
}
.steps li {
  position: relative;
  display: flex;
  padding: 0 0 0 20px;
  font-size: 1.75em;
  font-weight: 500;
  color: black;
  border-bottom: 3px solid #f2f2f2;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.5s;
}
.steps li:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 3px;
  width: 0;
  transition: width 1s ease;
  transform-origin: left right;
}
.steps li:first-child {
  padding: 0 20px 0 0;
}
.steps li.progress {
  opacity: 1;
}
.steps li.progress:after {
  width: 100%;
  background: #3171e0;
}

@font-face {
  font-family: Nunito;
  font-weight: normal;
  src: url("../../assets/fonts/Nunito-Regular.ttf");
}
@font-face {
  font-family: Nunito;
  font-weight: 500;
  src: url("../../assets/fonts/Nunito-SemiBold.ttf");
}
@font-face {
  font-family: Nunito;
  font-weight: 700;
  src: url("../../assets/fonts/Nunito-Bold.ttf");
}
@font-face {
  font-family: Nunito;
  font-weight: 800;
  src: url("../../assets/fonts/Nunito-ExtraBold.ttf");
}
.feed-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}
.feed-header .group-categories {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px 0;
}
.feed-header .group-categories .item-category {
  margin: 10px 10px 0 0;
  border-radius: 7px;
  transition: 0.5s;
  box-sizing: border-box !important;
}
.feed-header .group-categories .item-category li {
  font-size: 1rem;
  padding: 5px 7px 5px 7px;
  display: flex;
  align-items: center;
}
.feed-header .group-categories .item-category li img {
  height: 16px;
  margin-left: 5px;
}
.feed-header .group-categories .item-category:first-child {
  margin-left: 0;
}
.feed-header .group-categories .filter-active {
  color: white;
  background: #3171e0 !important;
}
.feed-header .group-categories .filter-disabled {
  color: #3171e0;
  background: white;
  border: 1px solid #E0EAFB;
  box-shadow: 0 2px 7px -3px rgba(0, 0, 0, 0.1);
}
.feed-header .group-categories .category-link {
  margin-right: 10px;
  font-size: 1.2em;
  color: #818181;
  transition: 0.5s;
}
.feed-header .group-categories .active-link {
  color: #3171e0;
}

button.btn-filters {
  margin: 0;
  padding: 5px 12px 5px 12px;
  font-size: 1.2em;
  background: #E0EAFB;
  color: #3171e0;
  box-shadow: 0 4px 9px -5px #bbc2d1;
  cursor: pointer;
}

.nav-articles {
  width: 100%;
  margin: 0 0 0 0;
}
.nav-articles .group-articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 0;
}
.nav-articles .group-articles .feed-article {
  margin-top: 20px 0 20px 0;
  margin: 0;
  padding-bottom: 40px;
  border-radius: 7px;
  cursor: pointer;
}
.nav-articles .group-articles .feed-article .article-image {
  height: 200px;
  padding: 0;
  margin: 0;
  display: block;
  position: relative;
}
.nav-articles .group-articles .feed-article .article-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 7px;
}
.nav-articles .group-articles .feed-article .article-content {
  width: 100%;
  padding: 10px 0 0 0;
  box-sizing: border-box;
}
.nav-articles .group-articles .feed-article .article-content .article-title {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0;
  margin: 0 0 0 0;
}
.nav-articles .group-articles .feed-article .article-content .article-subitle {
  font-size: 1.05em;
  font-weight: normal;
  color: #818181;
  margin: 5px 0 0 0;
  position: relative;
}
.nav-articles .group-articles .feed-article .article-content .article-ngo-details {
  margin-top: 20px;
}
.nav-articles .group-articles .feed-article .article-content .article-ngo-details .article-ngo-name {
  font-size: 1rem;
  margin: 0 0 5px 0;
}
.nav-articles .group-articles .feed-article .article-content .article-ngo-details .article-ngo-date {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}
.nav-articles .group-articles .event-closed .article-image::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.nav-articles .group-articles .event-closed .article-image::before {
  content: "Encerrado";
  font-size: 1.1em;
  font-weight: 500;
  padding: 3px 7px 3px 7px;
  top: 10px;
  right: 10px;
  background: #f9f9f9;
  color: #e42200;
  position: absolute;
  border-radius: 7px;
  z-index: 2;
}
.nav-articles .group-ngos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.nav-articles .group-ngos .feed-ngo {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  cursor: pointer;
}
.nav-articles .group-ngos .feed-ngo .ngo-pic {
  margin: 0;
  padding: 0;
}
.nav-articles .group-ngos .feed-ngo .ngo-pic img {
  height: 200px;
  width: 100%;
  border-radius: 14px;
  object-fit: cover;
}

/*# sourceMappingURL=homeUser.css.map */
