@font-face {
  font-family: Nunito;
  font-weight: normal;
<<<<<<< HEAD
  src: url("../../assets/fonts/Nunito-Regular.ttf");
}
@font-face {
  font-family: Nunito;
  font-weight: 500;
  src: url("../../assets/fonts/Nunito-SemiBold.ttf");
}
@font-face {
  font-family: Nunito;
  font-weight: 700;
  src: url("../../assets/fonts/Nunito-Bold.ttf");
}
@font-face {
  font-family: Nunito;
  font-weight: 800;
  src: url("../../assets/fonts/Nunito-ExtraBold.ttf");
}
header {
  height: auto !important;
}

header .container .logo {
  height: 40px;
}

.container {
  width: 1320px;
  margin: 0;
  padding: 0;
}

.title {
  margin: 0 0 20px 0;
  font-weight: 500;
  font-size: 2.2em;
}
=======
  src: url("../../assets/fonts/Nunito-Regular.ttf"); }
@font-face {
  font-family: Nunito;
  font-weight: 500;
  src: url("../../assets/fonts/Nunito-SemiBold.ttf"); }
@font-face {
  font-family: Nunito;
  font-weight: 700;
  src: url("../../assets/fonts/Nunito-Bold.ttf"); }
@font-face {
  font-family: Nunito;
  font-weight: 800;
  src: url("../../assets/fonts/Nunito-ExtraBold.ttf"); }
header.headerRelative {
  height: 139px; }

.centralize .container {
  width: 1320px;
  margin: 0;
  padding: 0; }

.title {
  margin: 0 0 20px 0;
  font-weight: 500;
  font-size: 2.2em; }
>>>>>>> 83e5b9c7e50fe7c8d5c5e438c3ebe3187d7f7e4e

.feed-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100%;
  padding-bottom: 20px;
<<<<<<< HEAD
  border-bottom: 1px solid #e1e1e1;
}
.feed-header .filters {
  width: auto;
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  transform: scaleY(1);
  height: auto;
  transition: all 0.25s;
  transform-origin: top;
}
.feed-header .filters .title-group-categories {
  font-size: 1.8em;
  font-weight: 500;
  text-align: left;
  width: 100%;
  margin: 0 0 10px 0;
}
.feed-header .filters .group-categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px 0;
}
.feed-header .filters .group-categories .category-link {
  font-size: 1.15em;
  color: #818181;
  margin-right: 20px;
  font-weight: normal;
  transition: 0.25s;
}
.feed-header .filters .group-categories .active-link {
  font-size: 1.5em;
  font-weight: 500;
  color: #3171e0;
}
.feed-header .filters .group-categories .item-category {
  margin: 0 10px 0;
  font-size: 1.15em;
  border-radius: 7px;
  color: #818181;
  transition: 0.5s;
  box-sizing: border-box !important;
}
.feed-header .filters .group-categories .item-category li {
  padding: 5px 7px 5px 7px;
  display: flex;
  align-items: center;
}
.feed-header .filters .group-categories .item-category li img {
  height: 16px;
  margin-left: 5px;
}
.feed-header .filters .group-categories .item-category:first-child {
  margin-left: 0;
}
.feed-header .filters .group-categories .filter-active {
  color: white;
  background: #3171e0 !important;
}
.feed-header .filters .group-categories .filter-disabled {
  color: #3171e0;
  background: white;
  border: 1px solid #E0EAFB;
  box-shadow: 0 2px 7px -3px rgba(0, 0, 0, 0.1);
}
.feed-header button.btn-filters {
  border: none;
  background: #E0EAFB;
  font-size: 1.2em;
  font-weight: normal;
  color: #3171e0;
  padding: 5px 12px 5px 12px;
  border-radius: 7px;
  box-shadow: 0 4px 9px -5px #bbc2d1;
  cursor: pointer;
}

.group-nav {
  transition: opacity 0.3s;
}
.group-nav .nav-articles {
  width: 100%;
  margin: 0 0 0 0;
}
.group-nav .nav-articles .title-nav {
  font-size: 2.7em;
  font-weight: bold;
  text-align: left;
  margin: 20px 0 10px 0;
}
.group-nav .nav-articles .group-articles {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
}
.group-nav .nav-articles .group-articles .feed-article {
  display: inline-block;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 60px;
  box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  background: white;
  cursor: pointer;
}
.group-nav .nav-articles .group-articles .feed-article:nth-child(3n-1) {
  margin-left: 60px;
  margin-right: 60px;
}
.group-nav .nav-articles .group-articles .feed-article .article-image {
  height: 250px;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
  position: relative;
}
.group-nav .nav-articles .group-articles .feed-article .article-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.group-nav .nav-articles .group-articles .feed-article .article-content {
  width: 100%;
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
}
.group-nav .nav-articles .group-articles .feed-article .article-content .article-title {
  font-size: 1.8em;
  font-weight: bolder;
  padding: 0;
  margin: 0 0 0 0;
}
.group-nav .nav-articles .group-articles .feed-article .article-content .article-subitle {
  font-size: 1.15em;
  font-weight: normal;
  color: #818181;
  margin: 5px 0 0 0;
  position: relative;
}
.group-nav .nav-articles .group-articles .feed-article .article-content .article-ngo {
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
}
.group-nav .nav-articles .group-articles .feed-article .article-content .article-ngo .article-ngo-avatar {
  padding: 0;
  margin: 0;
  height: 70px;
  width: 70px;
  display: block;
}
.group-nav .nav-articles .group-articles .feed-article .article-content .article-ngo .article-ngo-avatar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 100%;
}
.group-nav .nav-articles .group-articles .feed-article .article-content .article-ngo .article-ngo-details {
  margin-left: 20px;
}
.group-nav .nav-articles .group-articles .feed-article .article-content .article-ngo .article-ngo-details .article-ngo-name {
  font-weight: 500;
  font-size: 1.1em;
  margin: 0 0 5px 0;
}
.group-nav .nav-articles .group-articles .feed-article .article-content .article-ngo .article-ngo-details .article-ngo-date {
  margin: 0;
  font-size: 1em;
  font-weight: 500;
}
.group-nav .nav-articles .group-articles .feed-ngo {
  margin: 0 40px 0 0;
  background: white;
}
.group-nav .nav-articles .group-articles .feed-ngo .ngo-pic {
  margin: 0;
  padding: 0;
  display: block;
}
.group-nav .nav-articles .group-articles .feed-ngo .ngo-pic img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  object-fit: cover;
  display: block;
}
.group-nav .nav-articles .group-articles .feed-ngo .ngo-name {
  font-size: 2em;
  text-align: center;
  margin: 20px 0 0 0;
  padding: 0;
}
.group-nav .nav-articles .group-articles .feed-ngo .ngo-members {
  font-size: 1.2em;
  text-align: center;
  margin: 0;
  padding: 0;
}
.group-nav .nav-articles .group-articles .event-closed .article-image::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.group-nav .nav-articles .group-articles .event-closed .article-image::before {
  content: "Encerrado";
  font-size: 1.1em;
  font-weight: 500;
  padding: 3px 7px 3px 7px;
  top: 10px;
  right: 10px;
  background: #f9f9f9;
  color: #e42200;
  position: absolute;
  border-radius: 7px;
  z-index: 2;
}
=======
  border-bottom: 1px solid #e1e1e1; }
  .feed-header .filters {
    width: auto;
    border-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    transform: scaleY(1);
    height: auto;
    transition: all 0.25s;
    transform-origin: top; }
    .feed-header .filters .title-group-categories {
      font-size: 1.8em;
      font-weight: 500;
      text-align: left;
      width: 100%;
      margin: 0 0 10px 0; }
    .feed-header .filters .group-categories {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      list-style-type: none;
      padding: 0;
      margin: 0 0 20px 0; }
      .feed-header .filters .group-categories .category-link {
        font-size: 1.15em;
        color: #818181;
        margin-right: 20px;
        font-weight: normal;
        transition: 0.25s; }
      .feed-header .filters .group-categories .active-link {
        font-size: 1.5em;
        font-weight: 500;
        color: #3171e0; }
      .feed-header .filters .group-categories .item-category {
        margin: 0 10px 0;
        font-size: 1.15em;
        border-radius: 7px;
        color: #818181;
        transition: 0.5s;
        box-sizing: border-box !important; }
        .feed-header .filters .group-categories .item-category li {
          padding: 5px 7px 5px 7px;
          display: flex;
          align-items: center; }
          .feed-header .filters .group-categories .item-category li img {
            height: 16px;
            margin-left: 5px; }
        .feed-header .filters .group-categories .item-category:first-child {
          margin-left: 0; }
      .feed-header .filters .group-categories .filter-active {
        color: white;
        background: #3171e0 !important; }
      .feed-header .filters .group-categories .filter-disabled {
        color: #3171e0;
        background: white;
        border: 1px solid #E0EAFB;
        box-shadow: 0 2px 7px -3px rgba(0, 0, 0, 0.1); }
  .feed-header button.btn-filters {
    border: none;
    background: #E0EAFB;
    font-size: 1.2em;
    font-weight: normal;
    color: #3171e0;
    padding: 5px 12px 5px 12px;
    border-radius: 7px;
    box-shadow: 0 4px 9px -5px #bbc2d1;
    cursor: pointer; }

.group-nav {
  transition: opacity .3s; }
  .group-nav .nav-articles {
    width: 100%;
    margin: 0 0 0 0; }
    .group-nav .nav-articles .title-nav {
      font-size: 2.7em;
      font-weight: bold;
      text-align: left;
      margin: 20px 0 10px 0; }
    .group-nav .nav-articles .group-articles {
      display: flex;
      flex-flow: row wrap;
      padding: 0; }
      .group-nav .nav-articles .group-articles .feed-article {
        display: inline-block;
        width: 400px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 60px;
        box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.1);
        border-radius: 7px;
        background: white;
        cursor: pointer; }
        .group-nav .nav-articles .group-articles .feed-article:nth-child(3n-1) {
          margin-left: 60px;
          margin-right: 60px; }
        .group-nav .nav-articles .group-articles .feed-article .article-image {
          height: 250px;
          width: 100%;
          padding: 0;
          margin: 0;
          display: block;
          position: relative; }
          .group-nav .nav-articles .group-articles .feed-article .article-image img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px; }
        .group-nav .nav-articles .group-articles .feed-article .article-content {
          width: 100%;
          padding: 20px 20px 0 20px;
          box-sizing: border-box; }
          .group-nav .nav-articles .group-articles .feed-article .article-content .article-title {
            font-size: 1.8em;
            font-weight: bolder;
            padding: 0;
            margin: 0 0 0 0; }
          .group-nav .nav-articles .group-articles .feed-article .article-content .article-subitle {
            font-size: 1.15em;
            font-weight: normal;
            color: #818181;
            margin: 5px 0 0 0;
            position: relative; }
          .group-nav .nav-articles .group-articles .feed-article .article-content .article-ngo {
            display: flex;
            align-items: center;
            margin: 20px 0 0 0; }
            .group-nav .nav-articles .group-articles .feed-article .article-content .article-ngo .article-ngo-avatar {
              padding: 0;
              margin: 0;
              height: 70px;
              width: 70px;
              display: block; }
              .group-nav .nav-articles .group-articles .feed-article .article-content .article-ngo .article-ngo-avatar img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 100%; }
            .group-nav .nav-articles .group-articles .feed-article .article-content .article-ngo .article-ngo-details {
              margin-left: 20px; }
              .group-nav .nav-articles .group-articles .feed-article .article-content .article-ngo .article-ngo-details .article-ngo-name {
                font-weight: 500;
                font-size: 1.1em;
                margin: 0 0 5px 0; }
              .group-nav .nav-articles .group-articles .feed-article .article-content .article-ngo .article-ngo-details .article-ngo-date {
                margin: 0;
                font-size: 1em;
                font-weight: 500; }
      .group-nav .nav-articles .group-articles .feed-ngo {
        margin: 0 40px 0 0;
        background: white; }
        .group-nav .nav-articles .group-articles .feed-ngo .ngo-pic {
          margin: 0;
          padding: 0;
          display: block; }
          .group-nav .nav-articles .group-articles .feed-ngo .ngo-pic img {
            height: 200px;
            width: 200px;
            border-radius: 100%;
            object-fit: cover;
            display: block; }
        .group-nav .nav-articles .group-articles .feed-ngo .ngo-name {
          font-size: 2em;
          text-align: center;
          margin: 20px 0 0 0;
          padding: 0; }
        .group-nav .nav-articles .group-articles .feed-ngo .ngo-members {
          font-size: 1.2em;
          text-align: center;
          margin: 0;
          padding: 0; }
      .group-nav .nav-articles .group-articles .event-closed .article-image::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px; }
      .group-nav .nav-articles .group-articles .event-closed .article-image::before {
        content: "Encerrado";
        font-size: 1.1em;
        font-weight: 500;
        padding: 3px 7px 3px 7px;
        top: 10px;
        right: 10px;
        background: #f9f9f9;
        color: #e42200;
        position: absolute;
        border-radius: 7px;
        z-index: 2; }
>>>>>>> 83e5b9c7e50fe7c8d5c5e438c3ebe3187d7f7e4e

/*# sourceMappingURL=homeUser.css.map */
