<link rel="stylesheet" href="/styles/css/addNGO.css" />

<div class="centralize">
    <section id="main">
        <aside>
            <div class="container">
                <form id="form-login" name="index-login" action="/login" method="POST">
                    <h1 class="form-title">Entre no Contribua!</h1>
                    <div class="icon-input"><input name="emailVolunteer" placeholder="Email" type="email"
                            class="form-input login-input" /></div>
                    <input name="passwordVolunteer" placeholder="Senha" type="password" class="form-input login-input" />
                    <button disabled type="submit" id="login-submit">Entrar</button>
                    <a href="#" class="form-link">Esqueci minha senha</a>
                    <span class="form-span-text" id="form-link-register"><span class="form-span-black">Não tem uma
                            conta?
                        </span><a href="/register/addUser" class="form-link-register">Registre-se</a></span>
                </form>
            </div>
        </aside>
        <aside>
            <div class="container">
                <h1 class="title" style="font-weight: 500;">Quem <span class="blue">você</span> irá ajudar hoje?</h1>
            </div>
        </aside>
    </section>
</div>

<script src="/scripts/indexScript.js"></script>
<script>init()</script>