<link rel="stylesheet" href="/styles/css/addNGOPresentation.css" />
<div class="centralize padding-top4">
    <div class="container">
        <div id="box-content" class="box container centralize-auto bg-lightGray">
            <h1 class="title big-text">Comece a achar voluntários para a sua ONG</h1>
            <p class="text text-center margin-top2">Só precisamos de alguns dados para cadastrar sua ONG no <b
                    class="blue">Contribua!</b>. Após, nossa equipe revisará as informações e em pouco tempo você poderá
                encontrar e convidar voluntários para seus eventos.</p>
            <a href="/starting-ong/register" class="btn-primary margin-top2">Vamos lá</a>
        </div>
        <div id="content">
            <div class="container">
                <h1 class="title big-text">Palavras de quem usou</h1>
                <div class="group">
                    <div class="person">
                        <div class="avatar"><img src="/assets/imgs/woman.jpg" /></div>
                        <div class="content">
                            <p class="text medium-text medium-weight-text margin0">"Adipisicing eu aliqua ex enim quis quis sunt ea
                                est nisi eu irure."
                            </p>
                            <p class="text gray margin0 margin-top1">Renata Prado</p>
                        </div>
                    </div>
                </div>
                <div class="group">
                    <div class="person">
                        <div class="avatar"><img src="/assets/imgs/woman2.jpg" /></div>
                        <div class="content">
                            <p class="text medium-text medium-weight-text margin0">"Dolor sunt deserunt qui enim dolor ex ipsum
                                nisi qui pariatur aliqua
                                amet laborum."</p>
                            <p class="text gray margin0 margin-top1">Paloma Lima</p>
                        </div>
                    </div>
                </div>
                <div class="group">
                    <div class="person">
                        <div class="avatar"><img src="/assets/imgs/man2.jpg" /></div>
                        <div class="content">
                            <p class="text medium-text medium-weight-text margin0">"Culpa exercitation in ad adipisicing
                                consectetur in adipisicing
                                mollit laboris Lorem velit sunt."</p>
                            <p class="text gray margin0 margin-top1">Talles Souza</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>