<link rel="stylesheet" href="/styles/css/addNGOPresentation.css" />
<div class="centralize padding-top2">
    <section id="main">
    <aside>
        <div class="container">
            <h1 class="title-aside">Comece a achar voluntários para sua ONG</h1>
            <p>Só precisamos de alguns dados para cadastrar sua ONG no <b class="blue">Contribua!</b>. Após, nossa equipe revisará as informações e em pouco tempo você poderá encontrar e convidar voluntários para seus eventos.</p>
            <form id="letsgo" action="/register/addNGO/add" method="GET">
                <button type="submit">Vamos lá</button>
            </form>
        </div>
    </aside>
    <aside>
        <div class="container">
            <h1 class="title-aside">Palavras de quem usou</h1>
            <div class="group">
                <div class="group">
                    <div class="person">
                        <div class="avatar"><img src="/assets/imgs/woman.jpg"/></div>
                        <div class="content">
                            <p class="message">"Adipisicing eu aliqua ex enim quis quis sunt ea est nisi eu irure."</p>
                            <p class="name">Renata Prado</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group">
                <div class="group">
                    <div class="person">
                        <div class="avatar"><img src="/assets/imgs/woman2.jpg"/></div>
                        <div class="content">
                            <p class="message">"Dolor sunt deserunt qui enim dolor ex ipsum nisi qui pariatur aliqua amet laborum."</p>
                            <p class="name">Paloma Lima</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group">
                <div class="group">
                    <div class="person">
                        <div class="avatar"><img src="/assets/imgs/man2.jpg"/></div>
                        <div class="content">
                            <p class="message">"Culpa exercitation in ad adipisicing consectetur in adipisicing mollit laboris Lorem velit sunt."</p>
                            <p class="name">Talles Souza</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</section>
</div>
