<link rel="stylesheet" href="/styles/css/alerts.css" />

<script src="globalScript.js"></script>
{{#if alert_message}}
<div class="centralize centralize-alert">
    <div class="container">

        <div class="alert alert-success">
            <figure class="alert-icon">
                <div class="icon"></div>
            </figure>
            <div class="alert-content">
                <h1 class="alert-title">Bem-vindo :)</h1>
                <p class="text">A sua conta foi registrada com sucesso no Contribua!.
                </p>
            </div>
            <figure class="alert-close" onclick="closeAlert(this)">
                <img src="/assets/imgs/close.svg" />
            </figure>
        </div>

        <div class="alert alert-error">
            <figure class="alert-icon">
                <div class="icon"></div>
            </figure>
            <div class="alert-content">
                <h1 class="alert-title">Houve um erro...</h1>
                <p class="text">A senha digitada não é válida. Que tal tentar de novo?
                </p>
            </div>
            <figure class="alert-close" onclick="closeAlert(this)">
                <img src="/assets/imgs/close.svg" />
            </figure>
        </div>

        <div class="alert alert-warning">
            <figure class="alert-icon">
                <div class="icon"></div>
            </figure>
            <div class="alert-content">
                <h1 class="alert-title">O email já chegou?</h1>
                <p class="text">Enviamos instruções ao seu email para que você recupere a sua senha.
                </p>
            </div>
            <figure class="alert-close" onclick="closeAlert(this)">
                <img src="/assets/imgs/close.svg" />
            </figure>
        </div>
        
    </div>
</div>
{{/if}}