<header class="headerRelative">
</header>
<script src="/scripts/globalScript.js"></script>
</script>
{{#if data}}
<header>
    <div class="container">
        <a href="/home"><img class="logo" src="/assets/imgs/Contribua!.png" /></a>
        <div class="search-field">
            <form class="search-form">
                <img src="/assets/imgs/search.svg" />
                <input placeholder="Pesquisar" oninput="doSearch(this)" class="search-input" name="search-input"
                    type="text" />
            </form>
        </div>
        <nav class="nav-header">
            <ul>
                <li class="icon"><a href="#"><img src="/assets/imgs/bell.svg"></a></li>
                <li class="profile-pic"><a onclick="$('.header-options').toggle('fast')"><img src="/assets/imgs/man2.jpg" /></a></li>
                <ul class="header-options">
                    <li><a href="/{{data.userName}}">Perfil</a></li>
                    <li><a href="/settings">Configurações</a></li>
                    <li><a href="/starting-ong">Criar uma ONG</a></li>
                    <li><a href="/logout">Sair</a></li>
                </ul>
                </a>
            </ul>
        </nav>
    </div>
</header>

{{!-- Ignore this --}}
<header class="header-relative">
    <div class="container">
        <a href="/user"><img class="logo" src="/assets/imgs/Contribua!.png" /></a>
    </div>
</header>

{{else}}
<header>
    <div class="container">
        <a href="/"><img class="logo" src="/assets/imgs/Contribua!.png" /></a>
        <nav class="nav-header">
            <ul>
                <a href="/register/">
                    <li class="text">Sou novo</li>
                </a>
            </ul>
        </nav>
    </div>
</header>

{{!-- Ignore this --}}
<header class="header-relative">
    <div class="container">
        <a href="/"><img class="logo" src="/assets/imgs/Contribua!.png" /></a>
    </div>
</header>
{{/if}}