<header class="headerRelative">
</header>

<header>
    <div class="container">
        {{#if userActive}}<a href="/user"><img class="logo" src="/assets/imgs/Contribua!.png" /></a>{{else}}<a href="/"><img class="logo" src="/assets/imgs/Contribua!.png" /></a>{{/if}}
        <nav class="nav-header">
            <ul>
                {{#if userActive}}
                <a href="#">
                    <li class="icon"><img  src="/assets/imgs/search.svg"></li>
                </a>
                <a href="#">
                    <li class="icon"><img  src="/assets/imgs/bell.svg"></li>
                </a>
                <a href="/user/profile">
                    <li class="profile-pic availableVolunteer"><img src="/assets/imgs/man.jpg"</li>
                </a>
                {{else}}
                <a href="/addNGO">
                    <li class="text">Sou uma ONG</li>
                </a>
                <a href="#">
                    <li class="text">Sou novo</li>
                </a>
                <a href="/user">
                    <li class="text">Login</li>
                </a>   
                {{/if}}
            </ul>
        </nav>
    </div>
</header>