<header>
    <div class="container">
        <a href="/"><img class="logo" src="/assets/imgs/Contribua!.png" /></a>
        <nav class="nav-header">
            <ul>
                <a href="/ngoRegister">
                    <li>Sou uma ONG</li>
                </a>
                <a href="#">
                    <li>Sou novo</li>
                </a>
                <a href="#">
                    <li>Login</li>
                </a>
            </ul>
        </nav>
    </div>
</header>