<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contribua!</title>
    <script src="/styles/materialize/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/styles/materialize/css/materialize.min.css"/>
    <link rel="stylesheet" href="/styles/css/mainStyle.css">
</head>

<body>
    {{>_header}}
    {{{body}}}
    {{>_alert}}
    <div style="height: 40px"></div>
</body>

</html>