<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contribua!</title>
    <link rel="stylesheet" href="/styles/css/mainStyle.css">
    <script type="text/javascript" src="/libs/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/libs/typeahead.bundle.js"></script>
</head>

<body>
    {{>_header}}
    {{{body}}}
    {{>_alert}}
    <div style="height: 40px"></div>
</body>

</html>