<div class="padding-4 justifyContent-center align-center flex-column flex-nowrap">
    <img style="height: 40vh" src="/assets/imgs/empty3.svg"/>
    <h1 class="big-text text-center margin0 margin-top4">Página não encontrada!</h1>
    <p class="text text-center margin0 margin-top1">O link que você procurou não existe ou foi removido.</p>
    <a class="text text-center margin0 margin-top1 bold" href="/home">Voltar para o Contribua.</a>
</div>