<style>
    .bg-lightBlue{
        background-image: linear-gradient(rgba(224,234,251,0.9), rgba(224,234,251,0.9)), url('../../assets/imgs/adorable-bath-bathed-2903236.jpg');
        background-size: cover;
    }
</style>

<div class="group-asides">
    <div class="aside width-60 bg-lightBlue">
        <div class="centralize align-center">
            <h1 class="big-text light-weight-text title block">Bem-vindo de volta ao <span class="blue">Contribua</span>.<br><span class="big-text large-weight-text">Quem vamos ajudar hoje?</span></h1>
        </div>
    </div>
    <div class="aside width-40">
        <div class="centralize align-center">
            <form id="form-login" name="index-login" action="/CRUD/login" method="POST">
                <h1 class="form-title">Entre no Contribua!</h1>
                <div class="icon-input"><input name="email" placeholder="Email" type="email"
                        class="form-input login-input" />
                </div>
                <input name="password" placeholder="Senha" type="password" class="form-input login-input" />
                <button disabled type="submit" id="login-submit">Entrar</button>
                <a href="#" class="form-link">Esqueci minha senha</a>
                <span class="form-span-text" id="form-link-register"><span class="form-span-black">Não tem uma
                        conta?
                    </span><a href="/CRUD/addUser" class="form-link-register">Registre-se</a></span>
            </form>
        </div>
    </div>
</div>

<script src="/scripts/validations.js"></script>
<script src="/scripts/indexScript.js"></script>
<script>init()</script>