<link rel="stylesheet" href="/styles/css/indexStyle.css" />
<section id="landing">
    <div class="centralize">
        <div class="container">
            <div class="group">
                <h1 id="welcome-phrase">Bem vindo ao <span>Contribua!</span></h1>
                <h4 id="effect-phrase">A forma mais fácil<br><span>de se tornar um voluntário.</span></h4>
                <img src="/assets/imgs/action-adult-care-339620.jpg" class="hero-image"
                    alt="Cuidadora segurando a mão de um idoso" />
                <h3 class="label-hero-image"><img src="/assets/imgs/photo-camera.svg" />Foto de Matthias Zomer do Pexels
                </h3>
            </div>
            <div class="group">
                <form id="form-login" name="index-login" action="/login" method="POST">
                    <h1 class="form-title">Entre no Contribua!</h1>
                    <div class="icon-input"><input name="email" placeholder="Email" type="email"
                            class="form-input login-input" /></div>
                    <input name="password" placeholder="Senha" type="password" class="form-input login-input" />
                    <button disabled type="submit" id="login-submit">Entrar</button>
                    <a href="#" class="form-link">Esqueci minha senha</a>
                    <span class="form-span-text" id="form-link-register"><span class="form-span-black">Não tem uma
                            conta?
                        </span><a href="/register/" class="form-link-register">Registre-se</a></span>
                </form>
            </div>
        </div>
    </div>
</section>

{{#each errs}}
<div class="centralize centralize-alert">
    <div class="container">
        <div class="alert alert-error">
            <figure class="alert-icon">
                <div class="icon"></div>
            </figure>
            <div class="alert-content">
                <h1 class="alert-title">Houve um erro...</h1>
                <p class="text">{{msg}}
                </p>
            </div>
            <figure class="alert-close" onclick="closeAlert(this)">
                <img src="/assets/imgs/close.svg" />
            </figure>
        </div>
    </div>
</div>
{{/each}}
<script src="/scripts/validations.js"></script>
<script src="/scripts/indexScript.js"></script>
<script>init()</script>