<link rel="stylesheet" href="/styles/css/homeUser.css" />
<script src="/scripts/homeScript.js"></script>

<div class="centralize padding-top4">
    <div class="container">
        <h1 class="title margin-btm4">Bem-vindo de volta <span class="blue">João</span></h1>
        <div class="feed-header">
            <h1 class="title medium-text medium-weight-text">Filtros</h1>
            <ul class="group-categories">
                <a class="item-category select-filter filter-disabled" href="#">
                    <li>Causas <img src="/assets/imgs/arrow-down.svg" /></li>
                </a>
                <a class="item-category select-filter filter-disabled" href="#">
                    <li>Habilidades <img src="/assets/imgs/arrow-down.svg" /></li>
                </a>
                <a class="item-category item-filter filter-active" href="#">
                    <li>Inscrições</li>
                </a>
                <a class="item-category item-filter  filter-disabled" href="#">
                    <li>Proximidade</li>
                </a>
                <a class="item-category item-filter filter-disabled" href="#">
                    <li>Destaques</li>
                </a>
                <a class="item-category item-filter filter-disabled" href="#">
                    <li>Recentes</li>
                </a>
                <a class="item-category item-filter filter-active" href="#">
                    <li>Recomendações</li>
                </a>
            </ul>
        </div>
        <nav class="nav-articles">
            <h1 class="title padding-top2 margin-btm1">Eventos das suas incrições</h1>
            <div class="group-articles">
                <article class="feed-article">
                    <figure class="article-image">
                        <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                    </figure>
                    <div class="article-content">
                        <h1 class="article-title">Salve os Gatíneos</h1>
                        <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.
                        </h3>
                        <div class="article-ngo-details">
                            <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                            <p class="article-ngo-date">12/06/2019</p>
                        </div>
                    </div>

                </article>
                <article class="feed-article">
                    <figure class="article-image">
                        <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                    </figure>
                    <div class="article-content">
                        <h1 class="article-title">Salve os Gatíneos</h1>
                        <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.
                        </h3>
                        <div class="article-ngo-details">
                            <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                            <p class="article-ngo-date">12/06/2019</p>
                        </div>
                    </div>

                </article>
                <article class="feed-article">
                    <figure class="article-image">
                        <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                    </figure>
                    <div class="article-content">
                        <h1 class="article-title">Salve os Gatíneos</h1>
                        <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.
                        </h3>
                        <div class="article-ngo-details">
                            <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                            <p class="article-ngo-date">12/06/2019</p>
                        </div>
                    </div>

                </article>
                <article class="feed-article">
                    <figure class="article-image">
                        <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                    </figure>
                    <div class="article-content">
                        <h1 class="article-title">Salve os Gatíneos</h1>
                        <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.
                        </h3>
                        <div class="article-ngo-details">
                            <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                            <p class="article-ngo-date">12/06/2019</p>
                        </div>
                    </div>

                </article>
            </div>
        </nav>
        <nav class="nav-articles">
            <h1 class="title padding-top2 margin-btm1">Eventos das suas incrições</h1>
            <div class="group-articles">
                <article class="feed-article">
                    <figure class="article-image">
                        <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                    </figure>
                    <div class="article-content">
                        <h1 class="article-title">Salve os Gatíneos</h1>
                        <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.
                        </h3>
                        <div class="article-ngo-details">
                            <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                            <p class="article-ngo-date">12/06/2019</p>
                        </div>
                    </div>

                </article>
                <article class="feed-article">
                    <figure class="article-image">
                        <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                    </figure>
                    <div class="article-content">
                        <h1 class="article-title">Salve os Gatíneos</h1>
                        <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.
                        </h3>
                        <div class="article-ngo-details">
                            <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                            <p class="article-ngo-date">12/06/2019</p>
                        </div>
                    </div>

                </article>
                <article class="feed-article">
                    <figure class="article-image">
                        <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                    </figure>
                    <div class="article-content">
                        <h1 class="article-title">Salve os Gatíneos</h1>
                        <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.
                        </h3>
                        <div class="article-ngo-details">
                            <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                            <p class="article-ngo-date">12/06/2019</p>
                        </div>
                    </div>

                </article>
                <article class="feed-article">
                    <figure class="article-image">
                        <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                    </figure>
                    <div class="article-content">
                        <h1 class="article-title">Salve os Gatíneos</h1>
                        <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.
                        </h3>
                        <div class="article-ngo-details">
                            <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                            <p class="article-ngo-date">12/06/2019</p>
                        </div>
                    </div>

                </article>
            </div>
        </nav>
        <nav class="nav-articles">
            <h1 class="title padding-top2 margin-btm2">ONGs que recomendamos</h1>
            <div class="group-ngos">
                <article class="feed-ngo">
                    <figure class="ngo-pic">
                        <img src="/assets/imgs/adorable-animal-baby-1851164.jpg" />
                    </figure>
                    <h1 class="medium-text medium-weight-text margin0">Cães</h1>
                    <p class="light-text light-weight-text margin0">127 membros</p>
                </article>
                <article class="feed-ngo">
                    <figure class="ngo-pic">
                        <img src="/assets/imgs/adorable-animal-baby-1851164.jpg" />
                    </figure>
                    <h1 class="medium-text medium-weight-text margin0">Cães</h1>
                    <p class="light-text light-weight-text margin0">127 membros</p>
                </article>
                <article class="feed-ngo">
                    <figure class="ngo-pic">
                        <img src="/assets/imgs/adorable-animal-baby-1851164.jpg" />
                    </figure>
                    <h1 class="medium-text medium-weight-text margin0">Cães</h1>
                    <p class="light-text light-weight-text margin0">127 membros</p>
                </article>
                <article class="feed-ngo">
                    <figure class="ngo-pic">
                        <img src="/assets/imgs/adorable-animal-baby-1851164.jpg" />
                    </figure>
                    <h1 class="medium-text medium-weight-text margin0">Cães</h1>
                    <p class="light-text light-weight-text margin0">127 membros</p>
                </article>
                <article class="feed-ngo">
                    <figure class="ngo-pic">
                        <img src="/assets/imgs/adorable-animal-baby-1851164.jpg" />
                    </figure>
                    <h1 class="medium-text medium-weight-text margin0">Cães</h1>
                    <p class="light-text light-weight-text margin0">127 membros</p>
                </article>
                <article class="feed-ngo">
                    <figure class="ngo-pic">
                        <img src="/assets/imgs/adorable-animal-baby-1851164.jpg" />
                    </figure>
                    <h1 class="medium-text medium-weight-text margin0">Cães</h1>
                    <p class="light-text light-weight-text margin0">127 membros</p>
                </article>
            </div>
        </nav>
    </div>
</div>

<script>init()</script>