<link rel="stylesheet" href="/styles/css/homeUser.css" />

<div class="centralize">
    <div class="container">
        <div class="feed-filters">
            <ul class="group-categories">
                <a class="item-category active" href="#">
                    <li>Todos</li>
                </a>
                <a class="item-category" href="#">
                    <li>Direitos Humanos</li>
                </a>
                <a class="item-category" href="#">
                    <li>Ambiental</li>
                </a>
                <a class="item-category" href="#">
                    <li>Animal</li>
                </a>
            </ul>
        </div>
        <nav class="nav-articles">
            <h1 class="title-nav">Eventos das suas incrições</h1>
            <div class="group-articles">
                <article class="feed-article">
                    <figure class="article-image">
                    </figure>
                    <h1 class="article-title">Salve os Gatíneos</h1>
                    <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.</h3>
                    <div class="article-ngo">
                        <figure class="article-ngo-avatar">
                            <img/>
                        </figure>
                        <div class="article-ngo-details">
                            <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                            <p class="article-ngo-date">12/06/2019</p>
                        </div>
                    </div>
                </article>
                <article class="feed-article">
                    <figure class="article-image">
                    </figure>
                    <h1 class="article-title">Salve os Gatíneos</h1>
                    <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.</h3>
                    <div class="article-ngo">
                        <figure class="article-ngo-avatar">
                        </figure>
                        <div class="article-ngo-details">
                            <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                            <p class="article-ngo-date">12/06/2019</p>
                        </div>
                    </div>
                </article>
                <article class="feed-article">
                    <figure class="article-image">
                    </figure>
                    <h1 class="article-title">Salve os Gatíneos</h1>
                    <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.</h3>
                    <div class="article-ngo">
                        <figure class="article-ngo-avatar">
                        </figure>
                        <div class="article-ngo-details">
                            <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                            <p class="article-ngo-date">12/06/2019</p>
                        </div>
                    </div>
                </article>
                <article class="feed-article">
                    <figure class="article-image">
                    </figure>
                    <h1 class="article-title">Salve os Gatíneos</h1>
                    <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.</h3>
                    <div class="article-ngo">
                        <figure class="article-ngo-avatar">
                        </figure>
                        <div class="article-ngo-details">
                            <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                            <p class="article-ngo-date">12/06/2019</p>
                        </div>
                    </div>
                </article>
            </div>
        </nav>
    </div>

</div>