<link rel="stylesheet" href="/styles/css/homeUser.css" />
<link rel="stylesheet" href="/styles/css/profile.css" />

<div class="centralize">
    <section id="main">
        <div class="container">
            <div class="profile-data">
                <figure class="profile-pic availableVolunteer">
                    <img src="/assets/imgs/man.jpg" />
                </figure>
                <div class="profile-name">
                    <h1 class="username">Fábio Iago</h1>
                    <div class="feed-header">
                        <div class="filters">
                            <ul class="group-categories">
                                <a class="item-category category-filter filter-active" href="#">
                                    <li>Todos</li>
                                </a>
                                <a class="item-category category-filter filter-active" href="#">
                                    <li>Direitos Humanos</li>
                                </a>
                                <a class="item-category category-filter filter-active" href="#">
                                    <li>Ambiental</li>
                                </a>
                                <a class="item-category category-filter filter-active" href="#">
                                    <li>Animal</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
                <figure class="linkSettings">
                    <img src="/assets/imgs/settings.svg" />
                </figure>
                <div class="profile-location-since">
                    <h3 class="content">São Paulo, SP. Desde jul de 2019.</h3>
                </div>
                <div class="profile-about">
                    <p class="content">Irure dolore officia culpa irure sint cillum tempor culpa ex eu officia aute. Eu
                        occaecat dolore anim est. Nostrud excepteur minim cillum culpa ullamco irure sit non Lorem.
                        Lorem deserunt consequat consequat fugiat occaecat aliqua sit. Ad aliquip Lorem adipisicing sunt
                        quis et reprehenderit irure laboris irure nulla adipisicing qui. Enim enim fugiat irure et in
                        amet velit aliqua aute mollit.</p>
                </div>
            </div>
            <div class="profile-stats">
                <ul>
                    <li><span class="number">4,5/5</span>média de estrelas</li>
                    <li><span class="number">12</span> ações em eventos</li>
                    <li><span class="number">4</span> ONGs é inscrito</li>
                </ul>
            </div>
            <nav class="nav-articles">
                <h1 class="title-nav">Eventos participados</h1>
                <div class="group-articles">
                    <article class="feed-article">
                        <figure class="article-image">
                            <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                        </figure>
                        <h1 class="article-title">Salve os Gatíneos</h1>
                        <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.
                        </h3>
                        <div class="article-ngo">
                            <figure class="article-ngo-avatar">
                                <img src="/assets/imgs/adorable-animal-baby-1851164.jpg" />
                            </figure>
                            <div class="article-ngo-details">
                                <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                                <p class="article-ngo-date">12/06/2019</p>
                            </div>
                        </div>
                    </article>
                    <article class="feed-article event-closed">
                        <figure class="article-image">
                            <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                        </figure>
                        <h1 class="article-title">Salve os Gatíneos</h1>
                        <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.
                        </h3>
                        <div class="article-ngo">
                            <figure class="article-ngo-avatar">
                                <img src="/assets/imgs/adorable-animal-baby-1851164.jpg" />
                            </figure>
                            <div class="article-ngo-details">
                                <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                                <p class="article-ngo-date">12/06/2019</p>
                            </div>
                        </div>
                    </article>
                    <article class="feed-article event-closed">
                        <figure class="article-image">
                            <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                        </figure>
                        <h1 class="article-title">Salve os Gatíneos</h1>
                        <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.
                        </h3>
                        <div class="article-ngo">
                            <figure class="article-ngo-avatar">
                                <img src="/assets/imgs/adorable-animal-baby-1851164.jpg" />
                            </figure>
                            <div class="article-ngo-details">
                                <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                                <p class="article-ngo-date">12/06/2019</p>
                            </div>
                        </div>
                    </article>
                    <article class="feed-article event-closed">
                        <figure class="article-image">
                            <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                        </figure>
                        <h1 class="article-title">Salve os Gatíneos</h1>
                        <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.
                        </h3>
                        <div class="article-ngo">
                            <figure class="article-ngo-avatar">
                                <img src="/assets/imgs/adorable-animal-baby-1851164.jpg" />
                            </figure>
                            <div class="article-ngo-details">
                                <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                                <p class="article-ngo-date">12/06/2019</p>
                            </div>
                        </div>
                    </article>
                </div>
            </nav>
        </div>
    </section>
</div>