<script src="/scripts/indexScript.js"></script>
<link rel="stylesheet" href="/styles/css/ngoRegister.css" />
<link rel="stylesheet" href="/styles/css/needLogin.css" />
<section id="main">
    <aside>
        <div class="container">
            <form id="form-login" name="addONG-login" action="#" method="POST">
                <h1 class="form-title">Entre no Contribua!</h1>
                <input placeholder="Email" type="email" class="form-input login-input" />
                <input placeholder="Senha" type="password" class="form-input login-input" />
                <button disabled type="submit" id="login-submit">Entrar</button>
                <a href="#" class="form-link">Esqueci minha senha</a>
                <span class="form-span-text" id="form-link-register"><span class="form-span-black">Não tem uma conta?
                    </span><a href="#" class="form-link-register">Registre-se</a></span>
            </form>
            <form id="form-register" name="addONG-register" action="#" method="POST">
                <h1 class="form-title">Comece a se voluntariar agora!</h1>
                <input placeholder="Nome" type="text" class="form-input register-input" name="register-nameVolunteer" />
                <input placeholder="Sobrenome" type="text" class="form-input register-input"
                    name="register-lastNameVolunteer" />
                <input placeholder="Email" type="email" class="form-input register-input"
                    name="register-emailVolunteer" />
                <input placeholder="Senha" type="password" class="form-input register-input"
                    name="register-passwordVolunteer" />
                <input placeholder="Confirmar senha" type="password" class="form-input register-input"
                    name="register-confirmPasswordVolunteer" />
                <button disabled type="submit" id="register-submit">Registrar</button>
                <a href="#" class="form-link" id="form-link-login">Já sou voluntário!</a>
            </form>
        </div>
    </aside>
    <aside>
        <div class="container">
            <h1 class="title-aside">Para continuar crie ou entre em uma conta de usuário</h1>
        </div>
    </aside>
</section>
<script>init()</script>