@import 'utilities/variables';

body{
  padding: 0 !important;
}

.asides{
  height: 100vh;
  width: 100vw;
  display: flex;
  aside{
    height: 100%;
    width: 50%;
    &:last-child{
      display: flex;
      justify-content: center;
      padding: $margin2 $margin4 0 $margin4;
      .form{
        width: 100%;

        .flex-inputs{
          display: flex;
          .form-input{
            margin: 0;
            &:last-child{
              margin-left: $margin2 / 2;
            }
          }
          .input{
            margin-right: $margin2 / 2;
            .form-input{
              margin: 0 !important;
            }
          }
        }
      }
    }
  }
}

.submit-step{
  display: flex;
  justify-content: flex-end;
  .form-submit{
    width: auto;
  }
  .call-modal-job{
    @extend %button;
    box-shadow: 0 6px 12px -1.5px $lightBlue;
    background: $lightBlue;
    color: $mainColor;
    margin-right: $margin2;
  }
}

.article-event{
  height: 100vh;
  width: 100vw;
  .textarea-title, .textarea-content{
    width: 100%;
    display: block;
    font-family: $fontFamily;
    border: none;
    outline: none;
    background: none;
    resize: none;
    overflow: hidden;
  }
  .textarea-title{
    @extend %title;
    height: 2.5rem;
  }
  .textarea-content{
    @extend %text;
    
    margin-top: $margin4;
  }
}

.overlay{
  .modal{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .up-thumbnail, .preview, .done{
      width: 100%;
    }
    .form-btnFile{
      height: 200px;
      width: 350px;
      img{
        height: 100px;
        width: 100px;
      }
    }
    .preview{
      .form-btnFile{
        background: url("../../assets/imgs/dog-white.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        border: none;
      }
    }
    .done{
      img{
        height: 200px;
        width: 350px;
        object-fit: cover;
      }
    }
  }
}

.bg1{
  background: url('../../assets/imgs/pugg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.bg2{
  background: url('../../assets/imgs/kids.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.bg3{
  background: url('../../assets/imgs/hats.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}