@import "utilities/variables";

body {
  height: 100%;
  width: 100%;
}

.asides {
  height: 100%;
  width: 100%;
  display: flex;
  aside {
    height: 100%;
    width: 50%;
    display: flex;
    &:last-child {
      display: flex;
      justify-content: center;
      padding: $margin2 $margin4 0 $margin4;
      .form {
        width: 100%;
        .icon-input{
          box-sizing: content-box;
          &:after{
            right: 17.5px !important;
          }
        }
        .flex-inputs {
          display: flex;
          .form-input,
          .icon-input {
            margin: 0;
          }
          .input {
            margin-right: $margin2 / 2;
            .form-input {
              margin: 0 !important;
            }
            input[type="time"] {
              width: 100px;
            }
          }
        }
        #jobs {
          #noJobs {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            img {
              height: 200px;
            }
          }
          .box {
            padding: $margin2;
            word-break: break-all;
            max-height: 150px;
            overflow-y: scroll;
            .job-content{
              width: 100%;
              box-sizing: border-box;
              padding-right: $margin2;
            }
            .icons {
              @extend %flex-column;
              .icon {
                height: 24px;
                width: 24px;
                margin-bottom: $margin1;
                padding: 10px;
                border-radius: 5px;
                background: $lightGray3;
                cursor: pointer;
                transition: 0.5s;
                img {
                  opacity: 0.5;
                }
                &:hover {
                  background: $lightGray;
                  img {
                    opacity: 0.75;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.submit-step {
  display: flex;
  justify-content: flex-end;
  .btn-secondary {
    margin-right: $margin2;
    margin-left: $margin2;
  }
  .form-submit,
  .btn-first {
    width: auto;
  }
}
.buttons-aside3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article-event {
  height: 100vh;
  width: 100vw;
  .form-content {
    width: 100%;
    .textarea-title,
    .textarea-content {
      display: block;
      font-family: $fontFamily;
      border: none;
      outline: none;
      background: none;
      resize: none;
      overflow: hidden;
    }
    .textarea-title {
      @extend %title;
      height: 2.5rem;
      width: 100%;
    }
    .textarea-content {
      @extend %text;
      width: 100%;

      margin-top: $margin4;
    }
  }
  .form-upThumbnail {
    width: 350px;
    .form-btnFile {
      height: 200px;
      width: 100%;
      img {
        height: 100px;
        width: 100px;
      }
    }
  }
}

.overlay {
  .modal {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .up-thumbnail,
    .preview,
    .done {
      width: 100%;
    }
    .preview {
      height: auto;
      word-break: break-all;
      line-break: normal;
      .form-btnFile {
        background-size: cover;
        background-repeat: no-repeat;
        border: none;
      }
    }
    .done {
      img {
        height: 200px;
        width: 350px;
        object-fit: cover;
      }
    }
  }
}

%bg1,
.bg1 {
  position: relative;
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(50% - 20px);
    background: url("../../assets/imgs/pugg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

%bg2,
.bg2 {
  position: relative;
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(50% - 20px);
    background: url("../../assets/imgs/kids.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

%bg3,
.bg3 {
  position: relative;
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(50% - 20px);
    background: url("../../assets/imgs/hats.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
