@import 'utilities/variables.scss';

.container{
    display: flex;
    align-items: center;
    figure.hero-image{
        width: 50%;
        object-fit: cover;
        margin: 0;
        padding: 0;
        img{
            width: 100%;
        }
    }
    .content-page{
        height: 100%;
        width: 50%;
        margin-left: $margin4;
        .title{
            font-size: 3em;
            font-weight: 800;
        }
        .text{
            font-size: 1.7rem;
            margin-top: $margin2;
        }
        a{
            // @extend %button;
            background: $mainColor;
            color: white;
        }
    }
}