@import "utilities/variables";

#box-content{
  box-shadow: none;
}

div#content {
  width: 100%;
  background: white;
  display: flex;
  padding: $margin2 0 0 0;
  .group {
    .person {
      display: flex;
      align-items: center;
      padding: $margin2 $margin2 $margin2 0;
      margin: 0;
      .avatar {
        img {
          height: 100px;
          width: 100px;
          object-fit: cover;
          object-position: center;
          border-radius: 100%;
          box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.1);
        }
      }
      .content {
        margin: 0 0 0 $margin2;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

        .message {
          font-size: 1.2em;
          font-weight: bold;
          margin: 0;
          color: rgb(46, 46, 46);
        }
        .name {
          font-size: 1.2em;
          font-weight: 500;
          margin: 10px 0;
          color: rgb(80, 80, 80);
        }
      }
    }
  }
}
