@import "utilities/variables";
@import "utilities/extends.scss";

#main {
  height: 100%;
  width: $widthContainer;
  display: flex;
  padding-bottom: $margin4;
  box-sizing: border-box;
}

aside {
  height: 100%;
  display: flex;
  position: relative;
  &:first-child {
    width: 55%;
    justify-content: center;
    position: relative;
  }
  &:last-child {
    height: 100%;
    width: 50%;
    justify-content: flex-start;
    position: relative;
    .title-aside {
      font-weight: 500;
    }
    .container {
      height: 100%;
      position: fixed;
      padding: $margin2 $margin4 $margin2 $margin4;
      box-sizing: border-box;
      background: $lightColor;
    }
  }

  .title-aside {
    margin: $margin2 0 $margin2 0;
    font-size: 2.2em;
    color: rgb(48, 48, 48);
    font-weight: bold;
  }
  p {
    font-size: 1.5em;
  }
  .container {
    display: flex;
    padding: $margin2 $margin4 $margin2 $margin4;
    box-sizing: border-box;
    .steps {
      width: 100%;
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      .step {
        margin: $margin2 * 1.5 0 0 0;
        cursor: pointer;
        transition: all 0.25s;
        h1 {
          font-size: 2.5em;
          margin: 0;
          padding: 0;
        }
        p {
          font-size: 1.5em;
          margin: 5px 0;
          padding: 0;
          transition: all 0.5s;
          color: $mainColor;
        }
      }
      .disabled {
        opacity: 0.5;
        transform: scale(0.9);
      }
    }
  }
  form {
    height: 100%;
    .registerNGO {
      display: block;
      position: relative;
      .form-title {
        span {
          font-size: 1.5rem;
          font-weight: 500;
          color: $mainColor;
        }
      }
    }
    .registerNGO:nth-child(2),
    .registerNGO:nth-child(3) {
      display: none;
    }
  }
}
