@import "utilities/variables";
@import "utilities/extends.scss";

.centralize{
  height: calc(100% - 99px);
}

#main {
  height: 100%;
  width: $widthContainer;
  display: flex;
  padding-bottom: $margin4;
  box-sizing: border-box;
}

aside {
  height: 100%;
  width: 50%;
  background: white;
  display: flex;
  position: relative;
  &:first-child{
    justify-content: center;
    position: relative;
    overflow-y: scroll;
  }
  &:last-child {
    justify-content: flex-start;
    background: $lightColor;
    padding: 0 0 0 $margin4;
    box-sizing: border-box;
    position: relative;
    .title-aside {
      font-weight: 500;
    }
  }

  .title-aside {
    margin: $margin2 0 $margin2 0;
    font-size: 2.2em;
    color: rgb(48, 48, 48);
    font-weight: bold;
  }
  p {
    font-size: 1.5em;
  }
  .container {
    display: flex;
    align-items: center;
  
    .steps {
      width: 100%;
      padding: 0 0 0 $margin2;
      box-sizing: border-box;
      .step {
        margin: $margin2 * 1.5 0;
        cursor: pointer;
        transition: all 0.25s;
        h1 {
          font-size: 2.5em;
          margin: 0;
          padding: 0;
        }
        p {
          font-size: 1.5em;
          margin: 5px 0;
          padding: 0;
          transition: all 0.5s;
        }
      }
      .disabled {
        opacity: 0.5;
        transform: scale(0.9);
      }
    }
  }
  #form-registerNGO{
    height: 100%;
    .registerNGO{
      display: block;
      position: relative;
      .form-title{
        span{
          font-size: 1.5rem;
          font-weight: 500;
          color: $gray;
        }
      }
    }
    .registerNGO:nth-child(2),
    .registerNGO:nth-child(3) {
      display: none;
    }
  }
  
}
