@import "utilities/variables";

.centralize {
  .container {
    box-sizing: border-box;
    .content {
      width: 70%;
      figure.action-bg {
        height: 300px;
        width: 100%;
        margin: 0;
        padding: 0;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-bottom-left-radius: 7px;
          border-bottom-right-radius: 7px;
        }
      }
    }

    .aside {
      height: 100%;
      width: 30%;
      position: relative;
      padding-left: $margin2;
      .box {
        width: $widthContainer * 0.3;
        position: fixed;
        padding: $margin1 $margin2 $margin1 $margin2;
        box-sizing: border-box;
        background: white;
        box-shadow: none;
        border-top: none;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        .icons {
          display: block;
          .icon {
            padding: 7.5px 0 7.5px 0;
            display: flex;
            align-items: center;
            img {
              height: 1.1em;
              width: 1.1em;
              margin-right: $margin1;
            }
          }
        }
        .btn-outlined {
          width: 100%;
          margin: 0 0 $margin1 0;
          padding: $margin1;
          font-size: $fontBase;
          text-align: left;
          display: flex;
          justify-content: space-between;
          align-items: center;
          p {
            color: $mainColor;
            margin: 0;
            display: inline;
          }
        }
      }
    }
  }
}
