@import 'utilities/variables';

ul.side-menu{
    width: 200px;
    margin: 0;
    padding: 0;
    border-right: $border;
    display: inline-block;
    list-style: none;
    li{
        font-size: 1em;
        padding: $margin2;
        text-align: left;
        cursor: pointer;
        transition: background 0.5s;
        position: relative;
        &:after{
            content: '';
            height: 100%;
            width: 0px;
            position: absolute;
            top: 0;
            right: -1px; // cover menu border
        }
        &:first-child, &:last-child{
            margin: 0;
        }
        &:first-child{
            border-top-left-radius: 6px;
        }
        &:last-child{
            border-bottom-left-radius: 6px;
        }
    }
    li.active{
        background: #f9f9f9;
        &:after{
            content: '';
            width: 2px;
            background: $mainColor;
            transition: width .25s ease-in-out;
            transform-origin: center right;
        }
    }
}

.job-inscriptions{
    height: 100%;
    width: 100%;
    padding: $margin2;
    display: inline-block;
    box-sizing: border-box;
    .job-header{
        display: flex;
        justify-content: space-between;
        .job-description{
            max-width: 50%;
        }
        .job-useful{
            max-width: 50%;
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-end;
            .job-data{
                max-width: 100%;
                display: flex;
                margin: 0;
                padding: 0;
                list-style: none;
                border: $border;
                border-radius: 7px;
                padding: $margin1;
                li{
                    margin-right: $margin2;
                    padding: $margin1;
                    p{
                        color: $gray;
                    }
                    h3{
                        font-size: 1.75em;
                    }
                    h3, p{
                        margin: 0;
                    }
                }
            }
        }
    }
    .title-table{
        @extend %medium-text;
        font-weight: 700;
        margin: $margin2 0 $margin1 0;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        img{
            @extend %inline-icon;
            transition: .5s;
            transform: rotate(45deg);
        }
    }
}