@import "utilities/variables";

.feed-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  padding-bottom: $margin2;
  border-bottom: $border;
  .group-categories {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0 0 $margin2 0;
    .item-category {
      margin: $margin2 / 2 $margin2 / 2 0 0;
      border-radius: 7px;
      transition: 0.5s;
      box-sizing: border-box !important;
      li {
        font-size: $fontBase;
        padding: 5px 7px 5px 7px;
        display: flex;
        align-items: center;
        img {
          height: 16px;
          margin-left: 5px;
        }
      }
      &:first-child {
        margin-left: 0;
      }
    }
    .filter-active {
      color: white;
      background: $mainColor !important;
    }
    .filter-disabled {
      color: $mainColor;
      background: white;
      border: 1px solid $lightBlue;
      box-shadow: 0 2px 7px -3px rgba(0, 0, 0, 0.1);
    }
    .category-link {
      margin-right: $margin2 / 2;
      font-size: 1.2em;
      color: $gray;
      transition: 0.5s;
    }
    .active-link {
      color: $mainColor;
    }
  }
}

.nav-articles {
  width: 100%;
  margin: 0 0 0 0;
  position: relative;
  z-index: -1;
  .group-articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: $margin2;
    padding: 0;
    .feed-article {
      margin: 0 0 $margin2 / 2 0;
      padding: 0 0 $margin2 0;
      border-radius: 7px;
      cursor: pointer;
      a{
        text-decoration: none;
        color: inherit;
      }
      .article-image {
        height: 200px;
        padding: 0;
        margin: 0;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 7px;
        }
      }
      .article-content {
        width: 100%;
        padding: 10px 0 0 0;
        box-sizing: border-box;
        word-break: break-all;
        .article-title {
          font-size: 1.5rem;
          font-weight: 700;
          padding: 0;
          margin: 0 0 0 0;
        }
        .article-subitle {
          font-size: 1.05em;
          font-weight: normal;
          margin: $margin2 / 4 0 0 0;
        }
        .article-ngo-details {
          margin-top: $margin2;
          .article-ngo-name {
            font-size: $fontBase;
            font-weight: 500;
            margin: 0 0 5px 0;
          }
          .article-ngo-date {
            margin: 0;
            font-size: $fontBase;
            font-weight: 500;
            color: $gray;
          }
        }
      }
    }
    .event-closed {
      .article-image::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
      }
      .article-image::before {
        content: "Encerrado";
        font-size: 1.1em;
        font-weight: 500;
        padding: 3px 7px 3px 7px;
        top: $margin2 / 2;
        right: $margin2 / 2;
        background: $lightColor;
        color: $errorColor;
        position: absolute;
        border-radius: 7px;
        z-index: 2;
      }
    }
  }
  .group-ngos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: $margin2;
    .feed-ngo {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      cursor: pointer;
      .ngo-pic {
        margin: 0;
        padding: 0;
        img {
          height: 200px;
          width: 100%;
          border-radius: 14px;
          object-fit: cover;
        }
      }
    }
  }
}

.group-nav:nth-child(3),
.group-nav:nth-child(4) {
  // display: none;
}
