@import "utilities/variables";

.feed-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  padding-bottom: $margin2;
  border-bottom: $border;
  position: relative;
  z-index: 2;
  .group-categories {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 0;
    .item-category {
      margin: $margin2 / 2 $margin2 / 2 0 0;
      border-radius: 7px;
      transition: 0.5s;
      box-sizing: border-box !important;
      li {
        font-size: $fontBase;
        padding: 5px 7px 5px 7px;
        display: flex;
        align-items: center;
        img {
          height: 16px;
          margin-left: 5px;
        }
      }
      &:first-child {
        margin-left: 0;
      }
    }
    .filter-active {
      color: white;
      background: $mainColor !important;
    }
    .filter-disabled {
      color: $mainColor;
      background: white;
      border: 1px solid $lightBlue;
      box-shadow: 0 2px 7px -3px rgba(0, 0, 0, 0.1);
    }
    .category-link {
      margin-right: $margin2 / 2;
      font-size: 1.2em;
      color: $gray;
      transition: 0.5s;
    }
    .active-link {
      color: $mainColor;
    }
  }
}

.nav-articles {
  width: 100%;
  margin: 0 0 0 0;
  position: relative;
  .group-articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: $margin2;
    padding: 0;
    .feed-article {
      margin: 0 0 $margin2 / 2 0;
      padding: 0 0 $margin2 0;
      border-radius: 7px;
      a{
        text-decoration: none;
        color: inherit;
      }
      .article-image {
        height: 200px;
        padding: 0;
        margin: 0;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 7px;
        }
      }
      .article-content {
        width: 100%;
        padding: 10px 0 0 0;
        box-sizing: border-box;
        word-wrap: normal;
        .article-title {
          font-size: 1.5rem;
          font-weight: 700;
          padding: 0;
          margin: 0 0 0 0;
        }
        .article-subitle {
          font-size: 1.05em;
          font-weight: normal;
          margin: $margin2 / 4 0 0 0;
        }
        .article-ngo-details {
          margin-top: $margin2;
          .article-ngo-name {
            font-size: $fontBase;
            font-weight: 500;
            margin: 0 0 5px 0;
          }
          .article-ngo-date {
            margin: 0;
            font-size: $fontBase;
            font-weight: 500;
            color: $gray;
          }
        }
      }
    }
    .event-closed {
      .article-image{
        position: relative;
      }
      .article-image::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
      }
      .article-image::before {
        content: "Encerrado";
        font-size: 1.1em;
        font-weight: 500;
        padding: 3px 7px 3px 7px;
        top: $margin2 / 2;
        right: $margin2 / 2;
        background: $lightColor;
        color: $errorColor;
        position: absolute;
        border-radius: 7px;
        z-index: 2;
      }
    }
  }
  .group-ngos {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-rows: 1fr;
    grid-gap: $margin2;
    .feed-ngo{
      height: 100%;
      width: 100%;
      border: $border;
      border-radius: 4px;
      box-sizing: border-box;
      .ngo-pic{
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: $margin2;
        margin: 0;
        background: $lightGray3;
        img{
          height: 100%;
          width: 100%;
          border-radius: 100%;
        }
      }
      .ngo-name{
        word-wrap: normal;
        font-size: 1.25em;
        color: black;
        padding: $margin1 / 2 $margin1 $margin1 / 2 $margin1;
        box-sizing: border-box;
      }
    }
  }

  .group-volunteers{
    display: grid;
    grid-template-columns: repeat(auto-fit, 325px);
    grid-auto-rows: 1fr;
    grid-gap: $margin4;
    .feed-volunteer{
      @extend %box;
      padding: 0;
      max-height: 600px;
      width: 100%;
      box-shadow: none;
      border: $border;
      box-sizing: border-box;
      overflow-y: auto;
      .volunteer-pic{
        padding: 0;
        margin: 0 0 $margin1 0;
        height: 175px;
        img{
          height: 100%;
          width: 100%;
          border-radius: 4px;
          // border-top-left-radius: 7px;
          // border-top-right-radius: 7px;
          object-fit: cover;
        }
      }
      .volunteer-content{
        padding: 0 $margin2 $margin2 $margin2;
        color: black;
        .button{
          flex-grow: 1;
        }
      }
      &::-webkit-scrollbar {
        width: 5px;
      }
    }
  }
}

.header-search-volunteers{
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  
  .wrapper-options{
    flex-grow: 0;
    margin: 0 $margin1 0 0;
    .open-options{
      margin: 0;
    }
  }
  .form-btnCheckbox{
    flex-grow: 0;
    margin: 0 $margin1 0 0;
  }

  .search-bar{
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    .form-input{
      margin: 0;
      padding-right: $margin4 + $margin2;
    }
    img{
      height: 1.2rem;
      position: absolute;
      right: 20px;
      cursor: pointer;
    }
  }
}

.group-nav:nth-child(3),
.group-nav:nth-child(4) {
  // display: none;
}
