@import "utilities/variables";

h1,
h4 {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: $widthContainer;
}
.group {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  position: relative;
  margin-right: $margin4;
  h1#welcome-phrase {
    font-size: 2.5rem;
    font-weight: bolder;
  }
  h4#effect-phrase {
    font-size: 2.5em;
    font-weight: normal;
    margin-bottom: $margin4;
  }
  .hero-image {
    margin: 0;
    height: 250px;
    width: auto;
    object-fit: cover;
    border-radius: 7px;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.1);
  }
  .label-hero-image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1em;
    margin: $margin2 / 2 0 0 0;
    font-weight: 500;
    text-align: right;
    img {
      width: 1em;
      margin-right: 5px;
      opacity: 0.5;
    }
  }
  form {
    height: auto;
    width: 350px;
    .form-span-text {
      cursor: pointer;
    }
  }
  form#form-register {
    display: none;
  }
  &:last-child {
    height: 100% 100%;
    display: flex;
    align-items: center;
    margin-left: $margin4;
  }
}

span {
  color: $mainColor;
}
