@import "utilities/variables";

@media screen and (max-width: 768px) {
  body {
    background-image: linear-gradient(rgba(224, 234, 251, 0.9), rgba(224, 234, 251, 0.9)),
      url("../../assets/imgs/adult-backlit-beach-1000445.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

.bg-lightBlue {
  background-image: linear-gradient(rgba(224, 234, 251, 0.9), rgba(224, 234, 251, 0.9)),
    url("../../assets/imgs/adorable-bath-bathed-2903236.jpg");
  background-size: cover;
}
.group-asides {
  margin: 0;
  padding: 0;
  .aside {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $margin2 $margin4 $margin2 $margin4 !important;
    box-sizing: border-box;
  }
}
