// COLORS VARS
$mainColor: #3171e0;
$margin4: 40px;
$margin2: 20px;

section#landing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0 50px 0 50px;
  box-sizing: border-box;
  h1,
  h4 {
    margin: 0;
    padding: 0;
  }
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
  }
  .group {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    position: relative;
    margin-right: $margin4;
    h1#welcome-phrase {
      font-size: 3.25rem;
      font-weight: bolder;
    }
    h4#effect-phrase {
      font-size: 3em;
      font-weight: normal;
      margin-bottom: $margin4;
    }
    .hero-image{
      margin: 0;
      width: 600px;
      border-radius: 7px;
      box-shadow: 0 0 15px 0px rgba(0,0,0,0.1);
    }
    .label-hero-image{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 1em;
      margin: 0 0 0 0;
      font-weight: normal;
      text-align: right;
      img{
        width: 1em;
        margin-right: 5px;
        opacity: 0.5;
      }
    }
    form {
      height: auto;
      width: 350px;
      .form-span-text{
        cursor: pointer;
      }
    }
    form#form-register{
      display: none;
    }
    &:last-child{
      height: 100% 100%;
      display: flex;
      align-items: center;
      margin-left: $margin4;
    }
  }

  span {
    color: $mainColor;
  }
}

// Responsiviness

@media screen and (max-width: 1288px){
  .hero-image{
    display: none;
  }
  .label-hero-image{
    display: none !important;
  }
  .container{
    display: flex;
    justify-content: center !important;
  }
  .group{
    margin: 0;
    &:last-child{
      margin: 10px 0;
    }
  }
  #welcome-phrase{
    font-size: 3em !important;
  }
  #effect-phrase{
    font-size: 3em !important;
  }
}