@import "utilities/variables";
@import "utilities/extends.scss";

html{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

* {
  z-index: 1;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: $fontFamily;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $lightGray; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $gray; 
}

::-webkit-scrollbar-thumb:hover{
  background: $darkGray;
}

div.spacing {
  height: 150px;
  width: 100%;
  position: relative;
  display: block;
}

.headerRelative{
  height: 99px;
  padding: 0;
  position: relative;
  margin: 0 0 0 0;
  box-shadow: none;
}

header {
  width: 100%;
  background: white;
  box-shadow: 0 0 24px 3px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 999;
  position: fixed;
  top: 0;
  .container {
    width: $widthContainer;
    padding: 12px 0 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      height: 50px;
    }
    nav.nav-header {
      display: flex;
      align-items: center;
      width: auto;
      ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        padding: 0;
        margin: 0;
        a {
          text-decoration: none;
        }
        li{
          margin: 0 $margin2 / 1 0 $margin2 / 1;
          transition: 0.25s;
          position: relative;
          transform-style: preserve-3d;
          padding: 5px 10px 5px 10px;
          &:last-child{
            margin-right: 0;
          }
        }
        li.text {
          font-size: 1.3em;
          font-weight: 500;
          color: black;
          border-radius: 7px;
          &:hover {
            color: $mainColor;
            background: rgba(49, 113, 224, 0.1);
          }
        }
        li.icon{
          img{
            height: 27px;
            width: 27px;
          }
        }
        li.profile-pic{
          padding-right: 0;
          img{
            height: 64px;
            width: 64px;
            border-radius: 7px;
            object-fit: cover;
          }
          &:after{
            position: absolute;
            top: -2.5px;
            right: -10px;
            height: 20px;
            width: 20px;
            border-radius: 100%;
          }
        }
        li.availableVolunteer{
          position: relative;
          &:after{
            content: '';
            background: $successColor;
          }
        }
        li.unavailableVolunteer{
          position: relative;
          &:after{
            content: '';
            border-radius: 100%;
          }
        }
      }
    }
  }
}

form {
  height: auto;
  width: 400px;
  .form-title {
    font-size: 2rem;
    font-weight: bold;
  }
  .form-textarea {
    height: 150px;
    width: 100%;
    font-size: 1em;
    font-family: Nunito;
    resize: none;
  }
  .form-input {
    margin: $margin2 0;
    display: block;
    width: 100%;
    border: 1px solid #dddddd;
    background: $lightGray;
    padding: 10px 15px 10px 15px;
    box-sizing: border-box;
    outline: 0;
    border-radius: 5px;
    font-size: 1.25rem;
  }

  .form-btnFile {
    height: 150px;
    width: 150px;
    padding: $margin4 $margin2 0 $margin2;
    display: block;
    font-size: 1.5em;
    text-align: center;
    background: #f9f9f9;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
  }

  .form-file {
    display: none;
  }

  .form-submit,
  button[type="submit"],
  input[type="submit"] {
    width: 100%;
    border: none;
    background: $mainColor;
    box-shadow: 0 6px 16px 0 rgba(49, 113, 224, 0.3);
    color: white;
    font-size: 1.5em;
    text-align: center;
    padding: 6px 15px 6px 15px;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      // background: rgb(172, 172, 172);
      // box-shadow: 0 6px 16px 0px rgba(0,0,0,0.3);
    }
  }
  .form-link {
    margin: $margin2 0;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    color: $mainColor;
    font-size: 1.1em;
  }
  .form-span-text {
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    display: block;
    .form-span-black {
      color: black !important;
    }
    .form-link {
      display: inline;
      color: $mainColor;
    }
  }
}

a {
  text-decoration: none;
  color: $mainColor;
}

div.container {
  box-sizing: border-box;
  position: relative;
}

.title{
  font-size: 2.5em;
  font-weight: bolder;
  margin: 0 0 0 0;
}

.blue {
  color: $mainColor;
}

.centralize {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

div.icon-input {
  position: relative;
  &.alert-validation:after{
    background-image: url("../../assets/imgs/close.png");
  }
  &.caution-validation:after{
    background-image: url("../../assets/imgs/exclamation.png");
  }
  &.success-validation:after{
    background-image: url("../../assets/imgs/checked.png");
  }
  &:after{
    content: "";
    height: 100%;
    width: 40px;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    position: absolute;
    right: 0px;
    top: 0px;
  }
}
