@import "utilities/variables";

* {
  z-index: 1;
}

body {
  height: 100%;
  padding: 0 0 $margin4 0;
  margin: 0;
  font-family: $fontFamily;
  overflow-x: hidden;
  position: relative;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $lightColor;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $lightGray2;
}

::-webkit-scrollbar-thumb:hover {
  background: $gray;
}

header.header-relative {
  position: relative;
  z-index: 1;
  box-shadow: 0;
  opacity: 0;
  display: hidden;
}

header {
  width: 100%;
  background: white;
  // box-shadow: 0 3px 12px -3px rgba(0, 0, 0, 0.05);
  border-bottom: $border;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 998;
  position: fixed;
  top: 0;
  .container {
    padding: 12px 0 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      height: 40px;
    }
    .search-field {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      $widthInput: 300px;
      .search-form {
        display: flex;
        align-items: center;
        position: relative;
        width: $widthInput;
        img {
          height: 1rem;
          left: 20px;
          position: absolute;
          z-index: 999;
        }
        .search-input {
          width: 100%;
          font-size: 1rem;
          font-weight: 100;
          text-align: left;
          padding: 12px 12px 12px 50px;
          outline: none;
          border: none;
          background: #fafafa;
          border: $border;
          border-radius: 14px;
          &::placeholder {
            text-align: center;
            position: relative;
            right: 25px;
          }
        }
        .search-results {
          @extend %box;
          height: 350px;
          width: 100%;
          margin: 0;
          position: absolute;
          top: calc(2rem + 20px);
          left: 0;
          z-index: 999;
          box-sizing: border-box;
          list-style: none;
          overflow-y: scroll;
          padding: 0;
          h1.title {
            font-size: 1.5em;
            color: black;
            margin: $margin2 / 2 0 0 0;
            padding: 10px 15px 10px 15px;
            &:first-child {
              margin: 0 0 0 0;
            }
          }
          li.volunteer,
          li.ngo,
          li.event {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            transition: 0.25s;
            border-bottom: $border;
            padding: 10px 15px 10px 15px;
            cursor: pointer;
            &:last-child {
              border-bottom: none;
            }
            img {
              position: relative;
              height: 50px;
              width: 50px;
              object-fit: cover;
              margin: 0;
              padding: 0;
              left: 0;
              border-radius: 100%;
            }
            .item-content {
              margin-left: $margin2 / 2;
              .item-title {
                font-size: 1.2em;
                font-weight: 500;
                margin: 0 0 0 0;
              }
              .item-description {
                font-size: $fontBase;
                font-weight: 100;
                margin: 10px 0 0 0;
              }
              .item-author {
                font-size: 1em;
                font-weight: 100;
                margin: 10px 0 0 0;
                text-decoration: underline;
              }
            }
            &:last-child {
              margin-top: 0;
            }
          }
          li.volunteer,
          li.ngo {
            background: none;
            padding: 10px;
            box-shadow: none;
            &:hover {
              .item-title {
                text-decoration: underline;
              }
            }
          }
          li.event {
            background: white;
            box-shadow: 0 5px 5px -2.5px rgba(0, 0, 0, 0.05);
            padding: 15px 10px 15px 10px;
            border-radius: 5px;
            &:hover {
              box-shadow: 0 7px 5px -2.5px rgba(0, 0, 0, 0.16);
            }
          }
        }
      }
    }

    nav.nav-header {
      display: flex;
      align-items: center;
      width: auto;
      ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          transition: 0.25s;
          position: relative;
          transform-style: preserve-3d;
          color: black;
          margin-right: $margin2;
          a {
            text-decoration: none;
            position: relative;
          }
        }
        li.text {
          font-size: 1.2rem;
          font-weight: 500;
          border-radius: 7px;
          margin-right: $margin2;
          padding: 5px 12px 5px 12px;
          &:hover {
            color: $mainColor;
            background: rgba(49, 113, 224, 0.1);
          }
          &:last-child {
            margin-right: 0;
          }
        }
        li.icon {
          img {
            height: 27px;
            width: 27px;
          }
        }
        $sizePicture: 44px;
        li.profile-pic {
          padding: 0;
          margin: 0;
          border-radius: 50%;
          height: $sizePicture;
          width: $sizePicture;
          cursor: pointer;
          img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
          }
        }
        .header-options {
          @extend %box;
          height: auto;
          width: 200px;
          display: none;
          position: absolute;
          top: $sizePicture + $margin2;
          right: 0;
          z-index: 999;
          padding: 0;
          list-style: none;
          li {
            font-size: 1em;
            color: $mainColor;
            padding: 10px;
            border-bottom: $border;
            width: 100%;
            box-sizing: border-box;
            a {
              width: 100%;
              display: inline-block;
              text-decoration: none;
              color: inherit;
            }
            &:last-child {
              color: black;
              border-bottom: 0;
            }
          }
        }
      }
    }
  }
}

ul.cases {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin-top: 5px;
  li.case {
    font-size: 0.9em;
    text-align: center;
    background: $lightBlue;
    color: $mainColor;
    margin: 0 10px 10px 0;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
}

.form {
  height: auto;
  width: 350px;
  .form-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
  }
  .form-textarea {
    height: 150px;
    width: 100%;
    font-size: $fontBase;
    font-family: Nunito;
    resize: none;
  }
  .form-input {
    margin: $margin2 0;
    display: block;
    width: 100%;
    // border: 1.4px solid $lightGray;
    border: $border;
    background: $lightBlue2;
    padding: 10px 15px 10px 15px;
    box-sizing: border-box;
    outline: 0;
    border-radius: 5px;
    font-size: $fontBase;
    &::placeholder {
      color: black;
      opacity: 0.9;
    }
  }

  .form-input-icon {
    margin: $margin2 0 0 0;
    padding: 0;
    position: relative;
    .form-input {
      padding-left: 45px;
      margin: 0;
    }
    img {
      position: absolute;
      top: 10px;
      left: 15px;
      height: 25px;
    }
  }

  .form-btnFile {
    height: 150px;
    width: 150px;
    padding: $margin4 $margin2 0 $margin2;
    display: block;
    font-size: 1.25rem;
    opacity: 0.9;
    text-align: center;
    background: $lightGray3;
    // border: 1.5px solid $lightGray;
    border: $border;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: $margin2;
  }

  .form-file {
    display: none;
  }
  .groupSelect-label,
  .form-label {
    font-size: 1.25em;
    width: 100%;
    display: block;
    margin-bottom: $margin2 / 2;
  }
  .form-groupSelect {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-top: $margin2;
    .form-btnCheckbox,
    .form-btnRadio {
      flex-grow: 1;
      text-align: center;
      font-size: 1.05em;
      padding: 5px 10px 5px 10px;
      background: white;
      color: $mainColor;
      border: 1px solid $lightBlue;
      box-shadow: 0 1px 5px -2px $lightBlue;
      border-radius: 10px;
      margin: 3.5px 5px 3.5px 5px;
      cursor: pointer;
      transition: 0.25s;
    }
    input[type="checkbox"].form-checkbox,
    input[type="radio"],
    .form-radio {
      display: none;
    }
    input:checked + .form-btnCheckbox,
    input:checked + .form-btnRadio {
      background: $mainColor;
      color: white;
      border-color: $mainColor;
    }
  }

  .form-link {
    margin: $margin2 0;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    color: $mainColor;
    font-size: $fontBase;
  }
  .form-span-text {
    width: 100%;
    text-align: center;
    font-size: $fontBase;
    display: block;
    .form-span-black {
      color: black !important;
    }
    .form-link {
      display: inline;
      color: $mainColor;
    }
  }
}

.form-submit,
button[type="submit"],
input[type="submit"] {
  @extend %button;
  width: 100%;
  box-shadow: 0 6px 12px -3px rgba(49, 113, 224, 0.3);
  border: none;
  background: $mainColor;
  color: white;
  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

.disabled {
  opacity: 0.5;
  cursor: default;
}

div.icon-input {
  margin: $margin2 0 0 0;
  .form-input {
    margin: 0;
    padding-right: 35px;
  }

  position: relative;
  &.alert-validation:after {
    background-image: url("../../assets/imgs/error.svg");
  }
  &.caution-validation:after {
    background-image: url("../../assets/imgs/warning.svg");
  }
  &.success-validation:after {
    background-image: url("../../assets/imgs/success.svg");
  }
  &:after {
    content: "";
    height: 100%;
    width: 40px;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  div.notification{
    background:rgb(218, 58, 58);
    position: absolute;
    padding: 7px 8px;
    top: 0;
    left: 380px;
    min-width: 300px;
    border-radius: 7px;
    color: #fff;
  }
}

a {
  text-decoration: none;
  color: $mainColor;
}

div.overlay {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.16);
  // background: yellow;
  .modal {
    @extend %box;
    max-height: 80%;
    overflow-y: scroll;
    padding: $margin4;
    .icon-input {
      width: 100%;
    }
    .modal-options {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .btn-first {
        order: 2;
        @extend %btn-first;
        padding: 10px 15px 10px 15px;
      }
      .btn-secondary {
        order: 1;
        @extend %btn-secondary;
        padding: 10px 15px 10px 15px;
        margin-right: $margin2;
      }
    }
  }
}

.btn-danger {
  @extend %button;
  width: 100%;
  box-shadow: 0 3px 12px -6px rgba(0, 0, 0, 0.16);
  background: #f9f9f9;
  color: red;
  border: $border;
}

%btn-first,
.btn-first {
  @extend %button;
  background: $mainColor;
  color: white;
  font-size: $fontBase;
  box-shadow: 0 6px 12px -1.5px $lightBlue;
}

%btn-secondary,
.btn-secondary {
  @extend %button;
  background: #f9f9f9;
  border: $border;
  color: $mainColor;
  font-size: $fontBase;
}

%btn-callaction, .btn-callaction{
  @extend %button;
  background: $lightBlue;
  color: $mainColor;
  border-radius: 24px;
  box-shadow: 0 6px 12px -3px $lightBlue;
}

ul.icons {
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  .icon {
    img {
      height: 24px;
      width: 24px;
    }
    margin-right: $margin2 / 2;
  }
}
