@import "utilities/variables";

* {
  z-index: 1;
}

body {
  height: 100%;
  padding: 0 0 $margin4 0;
  margin: 0;
  font-family: $fontFamily;
  overflow-x: hidden;
  position: relative;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $lightColor;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $lightGray2;
}

::-webkit-scrollbar-thumb:hover {
  background: $gray;
}

%button {
  font-size: 1.25rem;
  font-weight: 100;
  text-align: center;
  padding: 10px 15px 10px 15px;
  border-radius: 7px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block !important;
  margin-top: $margin2;
}

header.header-relative {
  position: relative;
  z-index: 1;
  box-shadow: 0;
  opacity: 0;
  display: hidden;
  // margin-bottom: 20px;
}

header {
  width: 100%;
  background: white;
  box-shadow: 0 3px 12px -3px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 999;
  position: fixed;
  top: 0;
  .container {
    // width: $widthContainer;
    padding: 12px 0 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      height: 44px;
    }
    .search-field {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .search-form {
        display: flex;
        align-items: center;
        position: relative;
        img {
          height: 1.2em;
          left: 20px;
          position: absolute;
          z-index: 999;
        }
        .search-input {
          width: 400px;
          // letter-spacing: .16px;
          font-size: 1rem;
          font-weight: 100;
          text-align: left;
          padding: 12px 12px 12px 50px;
          outline: none;
          border: none;
          border: 1.4px solid $lightGray;
          background: $lightBlue2;
          border-radius: 25px;
        }
        .search-results {
          position: absolute;
          height: 350px;
          width: 100%;
          left: 0;
          bottom: -360px;
          margin: 0;
          padding: 0;
          border-radius: 5px;
          padding: 10px 15px 10px 15px;
          box-sizing: border-box;
          background: $lightColor;
          z-index: 998;
          box-shadow: 0 6px 14px rgba(0, 0, 0, 0.16);
          list-style: none;
          overflow-y: scroll;
          h1.title-type-result {
            font-size: 1.5em;
            color: $gray;
            margin: $margin2 0 10px 0;
            &:first-child {
              margin-top: 10px;
            }
          }
          li.volunteer,
          li.ngo,
          li.event {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            box-sizing: border-box;
            transition: 0.25s;
            cursor: pointer;
            img {
              position: relative;
              height: 60px;
              width: 60px;
              object-fit: cover;
              margin: 0;
              padding: 0;
              left: 0;
              border-radius: 100%;
            }
            .item-content {
              margin-left: $margin2;
              .item-title {
                font-size: 1.3em;
                font-weight: 700;
                margin: 0 0 0 0;
              }
              .item-description {
                font-size: $fontBase;
                font-weight: 100;
                margin: 10px 0 0 0;
              }
              .item-author {
                font-size: 1em;
                font-weight: 100;
                margin: 10px 0 0 0;
                text-decoration: underline;
              }
            }
            &:last-child {
              margin-top: 0;
            }
          }
          li.volunteer,
          li.ngo {
            background: none;
            padding: 10px;
            box-shadow: none;
            &:hover {
              .item-title {
                text-decoration: underline;
              }
            }
          }
          li.event {
            background: white;
            box-shadow: 0 5px 5px -2.5px rgba(0, 0, 0, 0.05);
            padding: 15px 10px 15px 10px;
            border-radius: 5px;
            &:hover {
              box-shadow: 0 7px 5px -2.5px rgba(0, 0, 0, 0.16);
            }
          }
          ul.cases {
            padding: 0;
            margin: 0;
            display: flex;
            flex-flow: row wrap;
            list-style: none;
            margin-top: 5px;
            li.case {
              font-size: 0.9em;
              text-align: center;
              background: $lightBlue;
              margin: 0 10px 10px 0;
              padding: 2.5px 5px 2.5px 5px;
              border-radius: 5px;
              cursor: pointer;
            }
          }
        }
      }
    }
    nav.nav-header {
      display: flex;
      align-items: center;
      width: auto;
      ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        padding: 0;
        margin: 0;
        a {
          text-decoration: none;
        }
        li {
          margin: 0 $margin2 / 1.5 0 $margin2 / 1.5;
          transition: 0.25s;
          position: relative;
          transform-style: preserve-3d;
          padding: 5px 10px 5px 10px;
          color: black;
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
        }
        li.text {
          font-size: 1.2rem;
          font-weight: 500;
          border-radius: 7px;
          margin-right: $margin2;
          &:hover {
            color: $mainColor;
            background: rgba(49, 113, 224, 0.1);
          }
          &:last-child {
            margin-right: 0;
          }
        }
        li.icon {
          img {
            height: 27px;
            width: 27px;
          }
        }
        li.profile-pic {
          padding-right: 0;
          img {
            $sizePicture: 54px;
            height: $sizePicture;
            width: $sizePicture;
            border-radius: 50%;
            object-fit: cover;
          }
          &:after {
            position: absolute;
            top: 0;
            right: -5px;
            height: 20px;
            width: 20px;
            border-radius: 100%;
          }
        }
        li.availableVolunteer {
          position: relative;
          &:after {
            content: "";
            background: $successColor;
          }
        }
        li.unavailableVolunteer {
          position: relative;
          &:after {
            content: "";
            border-radius: 100%;
          }
        }
      }
    }
  }
}

form,
.form {
  height: auto;
  width: 350px;
  .form-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
  }
  .form-textarea {
    height: 150px;
    width: 100%;
    font-size: $fontBase;
    font-family: Nunito;
    resize: none;
  }
  .form-input {
    margin: $margin2 0;
    display: block;
    width: 100%;
    border: 1.4px solid $lightGray;
    background: $lightBlue2;
    padding: 10px 15px 10px 15px;
    box-sizing: border-box;
    outline: 0;
    border-radius: 5px;
    font-size: $fontBase;
    &::placeholder {
      color: black;
      opacity: 0.9;
    }
  }

  .form-input-icon {
    margin: $margin2 0 0 0;
    padding: 0;
    position: relative;
    .form-input {
      padding-left: 45px;
      margin: 0;
    }
    img {
      position: absolute;
      top: 10px;
      left: 15px;
      height: 25px;
    }
  }

  .form-btnFile {
    height: 150px;
    width: 150px;
    padding: $margin4 $margin2 0 $margin2;
    display: block;
    font-size: 1.25rem;
    opacity: 0.9;
    text-align: center;
    background: $lightBlue2;
    border: 1.5px solid $lightGray;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: $margin2;
  }

  .form-file {
    display: none;
  }
  .groupSelect-label,
  .form-label {
    font-size: 1.25em;
    width: 100%;
    display: block;
    margin: 0 0 $margin2 / 2 0;
  }
  .form-groupSelect {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-top: $margin2;
    .form-btnCheckbox {
      flex-grow: 1;
      text-align: center;
      font-size: 1.05em;
      padding: 5px 10px 5px 10px;
      background: white;
      color: $mainColor;
      border: 1px solid $lightBlue;
      box-shadow: 0 1px 5px -2px $lightBlue;
      border-radius: 10px;
      margin: 3.5px 5px 3.5px 5px;
      cursor: pointer;
      transition: 0.25s;
    }
    input[type="checkbox"].form-checkbox {
      display: none;
    }
    input:checked + .form-btnCheckbox {
      background: $mainColor;
      color: white;
      border-color: $mainColor;
    }
  }

  .form-submit,
  button[type="submit"],
  input[type="submit"] {
    @extend %button;
    width: 100%;
    box-shadow: 0 6px 16px 0 rgba(49, 113, 224, 0.3);
    border: none;
    background: $mainColor;
    color: white;
    &:disabled {
      opacity: 0.5;
      // background: rgb(172, 172, 172);
      // box-shadow: 0 6px 16px 0px rgba(0,0,0,0.3);
    }
  }
  .form-link {
    margin: $margin2 0;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    color: $mainColor;
    font-size: $fontBase;
  }
  .form-span-text {
    width: 100%;
    text-align: center;
    font-size: $fontBase;
    display: block;
    .form-span-black {
      color: black !important;
    }
    .form-link {
      display: inline;
      color: $mainColor;
    }
  }
}

div.icon-input {
  margin: $margin2 0 0 0;
  .form-input {
    margin: 0;
  }
  position: relative;
  &.alert-validation:after {
    background-image: url("../../assets/imgs/error.svg");
  }
  &.caution-validation:after {
    background-image: url("../../assets/imgs/warning.svg");
  }
  &.success-validation:after {
    background-image: url("../../assets/imgs/success.svg");
  }
  &:after {
    content: "";
    height: 100%;
    width: 40px;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    position: absolute;
    right: 0px;
    top: 0px;
  }
}

a {
  text-decoration: none;
  color: $mainColor;
}

.align-center {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.centralize {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100vmax !important;
}

.container {
  box-sizing: border-box;
  position: relative;
  width: $widthContainer;
}

.steps {
  padding: 0;
  margin: 0 0 $margin4 0;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  li {
    position: relative;
    display: flex;
    padding: 0 0 0 $margin2;
    font-size: 1.75em;
    font-weight: 500;
    color: black;
    border-bottom: 3px solid #f2f2f2;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.5s;
    &:after {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;
      height: 3px;
      width: 0;
      transition: width 1s ease;
      transform-origin: left right;
    }
    &:first-child {
      padding: 0 $margin2 0 0;
    }
  }
  li.progress {
    opacity: 1;
    &:after {
      width: 100%;
      background: $mainColor;
    }
  }
}

div.overlay {
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
  z-index: 999;
  .modal {
    padding: 30px 40px 30px 40px;
    background: white;
    border-radius: 14px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.16);
  }
}

.box {
  padding: $margin2 $margin4 $margin2 $margin4;
  background: white;
  border-radius: 14px;
  border: 2px solid #f2f2f2;
  box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.16);
}

.btn-danger {
  @extend %button;
  width: 100%;
  box-shadow: 0 3px 12px -6px rgba(0, 0, 0, 0.16);
  background: #f9f9f9;
  color: red;
  border: 1px solid #eeeeee;
}

.width-auto {
  width: auto;
  flex-grow: 0;
}

.title {
  font-size: 2rem;
  font-weight: 900;
  margin: 0 0 0 0;
}

.small-text {
  font-size: $fontBase;
}

.medium-text {
  font-size: 1.5rem;
}

.big-text {
  font-size: 2.5rem;
}

.light-weight-text {
  font-weight: 100;
}

.medium-weight-text {
  font-weight: 500;
}

.large-weight-text {
  font-weight: 800;
}

.text {
  font-size: 1.25rem;
  text-align: left;
  font-weight: normal;
  margin: 0 0 0 0;
}

.blue {
  color: $mainColor;
}

.bg-lightBlue {
  background: $lightBlue2;
}

.margin0{
  margin: 0;
}

.margin-top1 {
  margin-top: $margin2 / 2;
}

.margin-top2 {
  margin-top: $margin2;
}

.margin-top4 {
  margin-top: $margin4;
}

.margin-btm4 {
  margin-bottom: $margin4;
}

.margin-btm2 {
  margin-bottom: $margin2;
}

.margin-btm1 {
  margin-bottom: $margin2 / 2;
}

.padding-top2 {
  padding-top: $margin2;
}

.padding-top4 {
  padding-top: $margin4;
}

.padding-btm2 {
  padding-bottom: $margin2;
}

.padding-btm4 {
  padding-bottom: $margin4;
}

.padding-4 {
  padding: $margin4;
}

.border-box {
  box-sizing: border-box;
}

.block {
  display: block;
}

.group-asides {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  width: 100vw;
  .aside {
    height: 100%;
  }
}

.width-70{
  width: 70;
}

.width-60 {
  width: 60vw;
}

.width-50 {
  width: 50vw;
}

.width-40 {
  width: 40vw;
}
