@import "utilities/variables";
@import "utilities/extends.scss";

html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

* {
  z-index: 1;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: $fontFamily;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $lightColor;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $lightGray2;
}

::-webkit-scrollbar-thumb:hover {
  background: $gray;
}

div.spacing {
  height: 150px;
  width: 100%;
  position: relative;
  display: block;
}

header.header-relative {
  position: relative;
  z-index: 1;
  box-shadow: 0;
  opacity: 0;
  display: hidden;
  margin-bottom: 20px;
}

header {
  width: 100%;
  background: white;
  box-shadow: 0 0 24px 3px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 999;
  position: fixed;
  top: 0;
  .container {
    width: $widthContainer;
    padding: 12px 0 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      height: 44px;
    }
    .search-field {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .search-form {
        display: flex;
        align-items: center;
        position: relative;
        img {
          height: 1.2em;
          left: 13.5px;
          position: absolute;
          z-index: 999;
        }
        .search-input {
          width: 400px;
          font-size: 0.9rem;
          text-align: left;
          padding: 10px 10px 10px 44px;
          outline: none;
          border: 1px solid $lightBlue;
          background: white;
          border-radius: 14px;
        }
      }
    }
    nav.nav-header {
      display: flex;
      align-items: center;
      width: auto;
      ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        padding: 0;
        margin: 0;
        a {
          text-decoration: none;
        }
        li {
          margin: 0 $margin2 / 1.5 0 $margin2 / 1.5;
          transition: 0.25s;
          position: relative;
          transform-style: preserve-3d;
          padding: 5px 10px 5px 10px;
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
        }
        li.text {
          font-size: 1.2rem;
          font-weight: 500;
          color: black;
          border-radius: 7px;
          margin-right: $margin2;
          &:hover {
            color: $mainColor;
            background: rgba(49, 113, 224, 0.1);
          }
          &:last-child{
            margin-right: 0;
          }
        }
        li.icon {
          img {
            height: 27px;
            width: 27px;
          }
        }
        li.profile-pic {
          padding-right: 0;
          img {
            $sizePicture: 54px;
            height: $sizePicture;
            width: $sizePicture;
            border-radius: 50%;
            object-fit: cover;
          }
          &:after {
            position: absolute;
            top: 0;
            right: -5px;
            height: 20px;
            width: 20px;
            border-radius: 100%;
          }
        }
        li.availableVolunteer {
          position: relative;
          &:after {
            content: "";
            background: $successColor;
          }
        }
        li.unavailableVolunteer {
          position: relative;
          &:after {
            content: "";
            border-radius: 100%;
          }
        }
      }
    }
  }
}

form {
  height: auto;
  width: 400px;
  .form-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
  }
  .form-textarea {
    height: 150px;
    width: 100%;
    font-size: 1rem;
    font-family: Nunito;
    resize: none;
  }
  .form-input {
    margin: $margin2 0;
    display: block;
    width: 100%;
    border: 1.4px solid $lightGray;
    background: $lightBlue2;
    padding: 10px 15px 10px 15px;
    box-sizing: border-box;
    outline: 0;
    border-radius: 5px;
    font-size: 1.1rem;
    &::placeholder {
      color: black;
      opacity: 0.9;
    }
  }

  .form-input-icon {
    margin: $margin2 0 0 0;
    padding: 0;
    position: relative;
    .form-input {
      padding-left: 45px;
      margin: 0;
    }
    img {
      position: absolute;
      top: 10px;
      left: 15px;
      height: 25px;
    }
  }

  .form-btnFile {
    height: 150px;
    width: 150px;
    padding: $margin4 $margin2 0 $margin2;
    display: block;
    font-size: 1.25rem;
    opacity: 0.9;
    text-align: center;
    background: $lightBlue2;
    border: 1.5px solid $lightGray;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
  }

  .form-file {
    display: none;
  }
  .groupSelect-label {
    font-size: 1.25em;
    font-weight: 500;
    width: 100%;
    display: block;
    margin: 0 0 $margin2 / 2 0;
  }
  .form-groupSelect {
    display: flex;
    flex-flow: row wrap;
    // grid-gap: 20px;
    width: 100%;
    .form-btnCheckbox {
      flex-grow: 1;
      text-align: center;
      font-size: 1.05em;
      padding: 5px 10px 5px 10px;
      background: white;
      color: $mainColor;
      border: 1px solid $lightBlue;
      box-shadow: 0 1px 5px -2px $lightBlue;
      border-radius: 10px;
      margin: 3.5px 5px 3.5px 5px;
      cursor: pointer;
      transition: 0.25s;
    }
    input[type="checkbox"].form-checkbox {
      display: none;
    }
    input:checked + .form-btnCheckbox {
      background: $mainColor;
      color: white;
      border-color: $mainColor;
    }
  }

  .form-submit,
  button[type="submit"],
  input[type="submit"] {
    width: 100%;
    border: none;
    background: $mainColor;
    box-shadow: 0 6px 16px 0 rgba(49, 113, 224, 0.3);
    color: white;
    font-size: 1.25rem;
    font-weight: 100;
    text-align: center;
    padding: 10px 15px 10px 15px;
    border-radius: 7px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block !important;
    &:disabled {
      opacity: 0.5;
      // background: rgb(172, 172, 172);
      // box-shadow: 0 6px 16px 0px rgba(0,0,0,0.3);
    }
  }
  .form-link {
    margin: $margin2 0;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    color: $mainColor;
    font-size: 1.1rem;
  }
  .form-span-text {
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    display: block;
    .form-span-black {
      color: black !important;
    }
    .form-link {
      display: inline;
      color: $mainColor;
    }
  }
}

a {
  text-decoration: none;
  color: $mainColor;
}

.centralize {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.container {
  box-sizing: border-box;
  position: relative;
}

.width-container {
  width: $widthContainer;
}

div.overlay {
  position: fixed;
  top: 0;
  left: 0;
  // display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
  z-index: 999;
  .modal {
    padding: 30px 40px 30px 40px;
    background: white;
    border-radius: 14px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.16);
  }
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0 0 0 0;
}

.text {
  font-size: 1.25rem;
  text-align: left;
  font-weight: normal;
  margin: 0 0 0 0;
}

.blue {
  color: $mainColor;
}

div.icon-input {
  position: relative;
  &.alert-validation:after {
    background-image: url("../../assets/imgs/error.svg");
  }
  &.caution-validation:after {
    background-image: url("../../assets/imgs/warning.svg");
  }
  &.success-validation:after {
    background-image: url("../../assets/imgs/success.svg");
  }
  &:after {
    content: "";
    height: 100%;
    width: 40px;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    position: absolute;
    right: 0px;
    top: 0px;
  }
}
