@import "utilities/variables";

aside:first-child{
  .container{
      display: flex;
      justify-content: center;
  }
  #form-login{
      display: none;
  }
}
aside:last-child{
  .container{
      display: flex;
      align-items: center;
  }
}
