@import "utilities/variables";

.profile-data {
  width: 100%;
  display: flex;
  .profile-pic {
    width: 175px;
    margin: 0;
    padding: 0;
    img {
      height: 175px;
      width: 175px;
      margin: 0 !important;
      padding: 0;
      border-radius: 7px;
      object-fit: cover;
    }
    .btn-primary{
      width: 100%;
      margin-top: $margin2;
    }
    input[type="checkbox"]{
      display: none;
    }
  }
  .profile-informations {
    width: 100%;
    margin: 0;
    padding: 0 0 0 $margin2;
    .username,
    .text,
    .gray{
      width: 100%;
      display: block;
      padding: 0;
      margin: 0;
    }
    .cases{
      padding: 0;
      margin: 0;
    }
    .username {
      display: flex;
      @extend %big-text;
      @extend %bold;
      @extend %justifyContent-between;
      align-items: center;
      img.inline-icon{
        margin: 0;
        height: 2rem;
      }
    }
  }
}

.profile-stats {
  width: 100%;
  border: $border;
  border-radius: 7px;
  padding: $margin1;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  li {
    margin: 0 $margin2 0 $margin2;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    color: $darkGray;
    .number {
      display: block;
      font-size: 1.4em;
      color: black;
    }
  }
}
