<link rel="stylesheet" href="/styles/css/addNGO.css" />

<div class="centralize">
    <section id="main">
        <aside>
            <div class="container">
                <form id="form-registerUser" name="form-registerUser" action="/CRUD/registerUser" method="POST">
                        <h1 class="form-title">Cadastro</h1>
                        <input class="form-input" placeholder="Nome">
                        <input class="form-input" placeholder="Sobrenome">
                        <input class="form-input" placeholder="Email">
                        <input class="form-input" placeholder="CPF - ___.___.___-__">
                        <input class="form-input" placeholder="Causas">
                        <input class="form-input" placeholder="Senha">
                        <input class="form-input" placeholder="Confirmar senha">
                        <button type="submit">Registrar-se</button>
                        <span class="form-link form-span-text"><a href="/CRUD/loginForm" class="form-link-register">Já tenho uma conta</a></span>
                        <span class="form-link form-span-text"><a href="/CRUD/addNGO" class="form-link-register">Sou uma ONG</a></span>
                        
                </form>
            </div>
        </aside>
        <aside>
            <div class="container">
                <h1 class="title" style="font-weight: 500;">O <span class="blue">Contribua!</span> ajuda voluntários a achar eventos de seus interesses.</h1>
            </div>
        </aside>
    </section>
</div>

<script>init()</script>