<link rel="stylesheet" href="/styles/css/addEventPresentation.css" />

<div class="centralize align-center">
    <div class="container">
        <figure class="hero-image">
            <img src="/assets/imgs/heroImageAddEvent.png"/>
        </figure>
        <article class="content-page">
            <h1 class="title">É fácil criar novos eventos no Contribua!</h1>
            <p class="text">São apenas alguns passos para criar um trabalho voluntário. Comece digitando o nome do evento.</p>
            <form action="/ngo/addEvent/add" name="addEventPresentation-form" method="GET">
                <input class="form-input" placeholder="Nome do evento"/>
                <button type="submit">Continuar registro</button>
            </form>
        </article>
    </div>
</div>