<link rel="stylesheet" href="/styles/css/addEventPresentation.css" />

<div class="centralize align-center padding-top4">
    <div class="container">
        <figure class="hero-image">
            <img src="/assets/imgs/heroImageAddEvent.png" />
        </figure>
        <article class="content-page">
            <h1 class="title">É fácil criar novos eventos no Contribua!</h1>
            <p class="text">São apenas alguns passos para criar um trabalho voluntário. Vamos começar pelas informações
                do evento.</p>
            <a href="/ngo/addEvent/add">Vamos lá</a>
        </article>
    </div>
</div>