<link rel="stylesheet" href="/styles/css/addEvent.css" />

<form id="addEvent" name="addEvent">

    <div class="asides aside-1">
        <aside class="bg1">
        </aside>
        <aside>
            <div class="form">
                <h1 class="title big-text">Informações do evento</h1>
                <div class="form-groupSelect margin-top4">
                    <label class="form-label">Causas da ONG</label>
                    {{#each causes}}
                        <input name="categories" value="{{descCategory}}" type="checkbox" id="{{descCategory}}" class="form-checkbox">
                        <label for="{{descCategory}}" class="form-btnCheckbox">{{descCategory}}</label>
                    {{/each}}
                </div>
                <label class="form-label margin-top2">Endereço</label>
                <div class="flex-inputs">
                    <div class="icon-input">
                        <input name="eventCEP" class="form-input" placeholder="CEP">
                    </div>
                    <div class="icon-input">
                        <input name="eventAddressNumber" class="form-input" placeholder="Número">
                    </div>
                </div>
                <div class="flex-inputs margin-top2">
                    <div class="icon-input">
                        <input name="eventCity" class="form-input" placeholder="Cidade">
                    </div>
                    <div class="icon-input">
                        <input name="eventDistrict" class="form-input" placeholder="Bairro">
                    </div>   
                </div>
                <div class="icon-input">
                    <input name="eventAddress" class="form-input margin-top2" placeholder="Logradouro">
                </div>
                <div class="submit-step">
                    <div onclick="checksStep1()" class="btn-primary">Próximo passo</div>
                </div>
            </div>
        </aside>
    </div>

    <div class="asides aside-2">
        <aside class="bg2"></aside>
        <aside>
            <div class="form">
                <h1 class="title big-text">Tipo de evento</h1>
                <div class="form-groupSelect margin-top4">
                    <label class="form-label">Selecione o tipo de evento</label>
                    <input name="categories" name="typeEvent" type="radio" class="form-radio" value="punctual" id="punctual">
                    <label for="punctual" class="form-btnCheckbox"
                        onclick="$('.typeEvent-recurrent').slideUp('fast'); $('.typeEvent-punctual').slideDown('slow')">Evento
                        pontual</label>

                    <input name="categories" name="typeEvent" type="radio" class="form-radio" value="recurrent" id="recurrent">
                    <label onclick="$('.typeEvent-punctual').slideUp('slow'); $('.typeEvent-recurrent').slideDown('slow')" for="recurrent" class="form-btnRadio">Evento recorrente</label>
                </div>
                <div class="typeEvent typeEvent-punctual">
                    <div class="flex-inputs margin-top2">
                        <div class="input">
                            <label class="form-label">Data de início</label>
                            <input name="eventPDStart" type="date" class="form-input">
                        </div>
                        <div class="input">
                            <label class="form-label">Hora de início</label>
                            <input name="eventPHStart" type="time" class="form-input">
                        </div>
                    </div>
                    <div class="flex-inputs margin-top2">
                        <div class="input">
                            <label class="form-label">Data de término</label>
                            <input name="eventPDEnd" type="date" class="form-input">
                        </div>
                        <div class="input">
                            <label class="form-label">Hora de término</label>
                            <input name="eventPHEnd" type="time" class="form-input">
                        </div>
                    </div>
                </div>
                <div class="typeEvent typeEvent-recurrent">
                    <div class="flex-inputs margin-top2">
                        <div class="input">
                            <label class="form-label">Data de início</label>
                            <input name="eventRDStart" type="date" class="form-input">
                        </div>
                        <div class="input">
                            <label class="form-label">Hora de início</label>
                            <input name="eventRHStart" type="time" class="form-input">
                        </div>
                    </div>
                    <div class="flex-inputs margin-top2">
                        <div class="input">
                            <label class="form-label">Data prevista de término</label>
                            <input name="eventRDEnd" type="date" class="form-input">
                        </div>
                    </div>
                    <div class="icon-input">
                        <input name="eventRHDescription" class="form-input margin-top2" placeholder="Detalhes sobre horários">
                    </div>
                </div>
                <div class="submit-step margin-top4">
                    <div onclick="$('.aside-2').slideUp('fast'); $('.aside-1').slideDown('slow')" class="btn-secondary">Voltar</div>
                    <div onclick="checksStep2()" class="btn-primary">Próximo passo</div>
                </div>
            </div>
        </aside>
    </div>

    <div class="asides aside-3">
        <aside class="bg3"></aside>
        <aside>
            <div class="form">
                <h1 class="title big-text margin-btm4">Vagas</h1>
                <div id="jobs">
                     <div id="noJobs" class="margin-btm2">
                        <img src="/assets/imgs/empty.svg">
                        <p class="medium-text medium-weight-text margin0 margin-top2 gray text-center">Para prosseguir é preciso criar<br> ao menos uma vaga.</p>
                    </div>
                </div>
                <div class="buttons-aside3">
                    <div onclick="$('.modal-job').slideDown('fast').css('display','flex')" class="btn-callaction">Adicionar vaga</div>
                    <div class="submit-step">
                        <div onclick="$('.aside-3').slideUp('fast'); $('.aside-2').slideDown('slow')" class="btn-secondary">Voltar</div>
                        <div onclick="checksStep3()" class="btn-primary">Próximo passo</div>
                    </div>
                </div>
            </div>
        </aside>
    </div>

    <div class="overlay modal-job">
        <div class="modal form">
            <h1 class="title big-text">Adicionar vaga</h1>
            <div class="icon-input">
                <input name="jobName" class="form-input" placeholder="Nome da vaga" />
            </div>
            <div class="icon-input">
                <textarea name="jobDescription" class="form-input form-textarea" placeholder="Descrição da vaga"></textarea>
            </div>
            <div class="icon-input">
                <input name="jobAmount" type="number" class="form-input" placeholder="Quantidade" />
            </div>
            <div class="modal-options">
                <div onclick="$('.modal-job').slideUp('fast')" class="btn-secondary">Cancelar</div>
                <div class="btn-primary" onclick="checksJob()">Adicionar vaga</div>
            </div>
        </div>
    </div>

    <div class="overlay edit-job">
        <div class="modal form">
            <h1 class="title big-text">Editar vaga</h1>
            <div class="icon-input">
                <input name="jobNameEdit" class="form-input" placeholder="Nome da vaga" />
            </div>
            <div class="icon-input">
                <textarea name="jobDescriptionEdit" class="form-input form-textarea" placeholder="Descrição da vaga"></textarea>
            </div>
            <div class="icon-input">
                <input name="jobAmountEdit" type="number" class="form-input" placeholder="Quantidade" />
            </div>
            <div class="modal-options">
                <div onclick="$('.edit-job').slideUp('fast')" class="btn-secondary">Cancelar</div>
                <div class="btn-primary" onclick="checksEditJob()">Salvar</div>
            </div>
        </div>
    </div>

    <div class="centralize padding-top4 article-event">
        <div class="container">
            <h1 class="title margin-btm4">Artigo do evento</h1>
            <textarea name="eventTitle" maxlength="150" onkeyup="autosize($('.textarea-title'))" class="textarea-title"
                placeholder="Título..."></textarea>
            <textarea name="eventContent" onkeyup="autosize($('.textarea-content')); refreshCount(this)" class="textarea-content"
                placeholder="Comece a escrever..."></textarea>
            <p id="counter-content" class="text margin0 margin-top2">0</p>
            <div class="submit-step">
                <div onclick="$('.article-event').slideUp('fast'); $('.aside-3').slideDown('slow')" class="btn-secondary">Voltar</div>
                <div onclick="checksStep4()" class="btn-primary">Próximo passo</div>
            </div>
        </div>
    </div>

    <div class="overlay modal-preview">
        <div class="modal form">
            <div class="up-thumbnail">
                <input id="upThumbnail" type="file" class="form-file">
                <label onclick="$('.up-thumbnail').slideUp('fast'); $('.preview').slideDown('slow')"
                    class="form-btnFile"><img src="/assets/imgs/upload.svg" /></label>
                <h1 class="title text-center margin-top4">Só mais um detalhe</h1>
                <p class="text margin-top2">Clique no espaço cinza para escolher uma imagem que atraia o público para
                    este evento.</p>
            </div>
            <div class="preview">
                <h1 class="title">Review</h1>
                <input id="upThumbnail" type="file" class="form-file">
                <label class="form-btnFile"></label>
                <h1 class="title margin-top2" id="eventTitle"></h1>
                <p class="text margin-top1 margin-btm2" id="eventContent"></p>
                <ul class="cases">
                </ul>
                <div class="modal-options">
                    <div onclick="$('.modal-preview').slideUp('fast')" class="btn-secondary">Editar</div>
                    <button onclick="$('.preview').slideUp('fast'); $('.done').slideDown('slow').css('display','flex')" class="btn-primary" id="btn-submit" disabled>Finalizar</button>
                </div>
            </div>
            <div class="done">
                <img src="/assets/imgs/successImage.png" />
                <h1 class="title text-center margin-top2">Muito bem!</h1>
                <p class="text margin-top1 margin-btm2">Este evento foi criado com sucesso e agora você já pode convidar
                    voluntários para lhe ajudar.</p>
                <a href="/ngo" class="text blue text-center">Ir para a home</a>
            </div>
        </div>
    </div>

</form>

<script src="/scripts/validations.js"></script>
<script src="/scripts/addEventScript.js"></script>