<link rel="stylesheet" href="/styles/css/event.css"/>

<div class="centralize">
    <div class="container display-flex">
        <article class="content">
            <figure class="action-bg">
                <img src="/assets/imgs/action-adult-care-339620.jpg"/>
            </figure>
            <h1 class="title margin-top2">Campanha de cuidado aos idosos</h1>
            <p class="text margin-top1">Ut laboris ad ea proident minim ea aute non et dolor aliqua in aliquip consequat. Ut magna do minim labore esse quis id cupidatat dolore minim proident. Reprehenderit voluptate excepteur quis ut aliquip qui excepteur aliquip irure. Labore ipsum fugiat amet laborum proident reprehenderit. Dolore pariatur ex ea exercitation consectetur dolore adipisicing occaecat laborum id elit elit quis qui. Cillum proident ipsum irure ipsum et exercitation incididunt proident pariatur eiusmod. <br> Commodo sint dolore ullamco ipsum. Commodo nostrud nisi ea aliqua veniam ut consequat eiusmod occaecat consequat culpa mollit. Excepteur esse cillum ea qui eiusmod incididunt ut. Labore ullamco cupidatat officia Lorem sint do id velit labore. Sint culpa anim nostrud nostrud proident. Cupidatat quis consequat et aute. Id aute officia deserunt nulla.</p>
            <div class="data-author">
                <figure class="author-pic margin-top2">
                    <img src="/assets/imgs/action-adult-care-339620.jpg">
                    <div class="author-description">
                        <p class="author-name">Cachorros e gatos</p>
                        <p class="author-by">14 Jan - Por <a href="#">Guilherme Martins</a></p>
                    </div>
                </figure>
            </div>
        </article>

        <div class="aside">
            <div class="box">
                <h1 class="medium-text bold margin0">Informações do evento</h1>
                <ul class="icons">
                    <li class="icon align-center"><img src="/assets/imgs/clock.svg"/> Recorrente - 4 horas semanais</li>
                    <li class="icon"><img src="/assets/imgs/fillPlaceholder.svg"/>Rua Doutor Gonçalves, n° 23</li>
                    <li class="icon"><img src="/assets/imgs/fillUser.svg"/>Faltam 12 voluntários</li>
                </ul>
                <ul class="cases flex-wrap">
                    <li class="case">Idosos</li>
                    <li class="case">Direitos humanos</li>
                    <li class="case">Família</li>
                </ul>
                <h1 class="medium-text bold margin-top2 margin-btm2">Vagas</h1>
                <button onclick="$('.overlay-job').slideDown('fast').css('display','flex')" class="btn-outlined">Assistente geral <p>6/10</p></button>
                <button onclick="$('.overlay-job').slideDown('fast').css('display','flex')" class="btn-outlined">Cuidador de idosos <p>11/15</p></button>
                <button onclick="$('.overlay-job').slideDown('fast').css('display','flex')" class="btn-outlined">Recepcionista <p>0/4</p></button>
            </div>
        </div>
    </div>
</div>

<div class="overlay overlay-job">
    <div class="modal">
        <h1 class="title text-left">Assistente geral</h1>
        <p class="text medium-weight-text margin0">Vagas <span class="blue">6/10</span></p> 
        <p class="text margin-top2">Dolore qui nostrud sit nisi deserunt pariatur voluptate adipisicing adipisicing ex. Incididunt velit consectetur tempor esse magna reprehenderit et consequat sint cupidatat. Ipsum nisi officia mollit id esse ullamco aute commodo cillum..</p>
        <div class="modal-options margin-top2">
            <div onclick="$('.overlay-job').slideUp('fast')" class="btn-secondary">Cancelar
            </div>
            <div onclick="$('.overlay-job').slideUp('fast')" class="btn-primary">Inscrever-se</div>
        </div>
    </div>
</div>