<link rel="stylesheet" href="/styles/css/eventRating.css" />

<div class="centralize">
    <div class="container padding-top4">
        <div class="full-width justifyContent-between">
            <form class="full-width padding-right4">
                <h1 class="title big-text margin0">Avaliação de voluntário</h1>

                <h1 class="title-table">Voluntários não avaliados (1)</h1>
                <div class="table-container" id="table-notRated">
                    <div class="table-header">
                        <div class="row">
                            <div class="flex-row">Nome</div>
                            <div class="flex-row">Vaga</div>
                            <div class="flex-row">Média de estrelas</div>
                            <div class="flex-row"></div>
                        </div>
                    </div>
                    <div class="table-body">
                        <div class="row">
                            <div class="flex-row">
                                <figure class="table-pic">
                                    <img src="/assets/imgs/man2.jpg"/>
                                </figure>
                                <article class="margin-left1">
                                    <h1 class="small-text medium-weight-text margin0 padding0">Alfredo Augusto Oliveira</h1>
                                    <p class="gray smallest-text margin0 padding0">Rio de Janeiro</p>
                                </article>
                            </div>
                            <div class="flex-row">
                                <p class="text">Assistente geral</p>
                            </div>
                            <div class="flex-row">
                                <p class="text">4.5/5 <img src="/assets/imgs/star.svg" class="inline-icon"/> </p>
                            </div>
                            <div class="flex-row justifyContent-end">
                                <div data-idvolunteer="1" class="btn-rounded do-rate">Avaliar</div>
                            </div>
                        </div>
                    </div>
                </div>

                <h1 class="title-table">Voluntários avaliados (1)</h1>
                <div class="table-container" id="table-rated">
                    <div class="table-header">
                        <div class="row">
                            <div class="flex-row">Nome</div>
                            <div class="flex-row">Vaga</div>
                            <div class="flex-row">Avaliação</div>
                            <div class="flex-row"></div>
                        </div>
                    </div>
                    <div class="table-body">
                        <div class="row">
                            <div class="flex-row">
                                <figure class="table-pic">
                                    <img src="/assets/imgs/man2.jpg"/>
                                </figure>
                                <article class="margin-left1">
                                    <h1 class="small-text medium-weight-text margin0 padding0">Alfredo Augusto Oliveira</h1>
                                    <p class="gray smallest-text margin0 padding0">Rio de Janeiro</p>
                                </article>
                            </div>
                            <div class="flex-row">
                                <p class="text">Assistente geral</p>
                            </div>
                            <div class="flex-row">
                                <p class="text">4 <img src="/assets/imgs/star.svg" class="inline-icon"/> </p>
                            </div>
                            <div class="flex-row justifyContent-end">
                                <div data-idvolunteer="2" class="btn-outlined edit-rate">Editar avaliação</div>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn-primary margin0 margin-top4">Finalizar avaliações</button>
            </form>
            <figure class="action-miniature">
                <a href="/event/{{action.idAction}}">
                    <img src="/assets/imgs/animal-cat-cute-46024.jpg" />
                    <p>{{action.nameAction}}</p>
                </a>
            </figure>
        </div>
    </div>
</div>

<div class="rate-popup" id="rate-popup-1">
    <figure class="rate-pic">
        <img src="/assets/imgs/man2.jpg"/>
        <article class="rate-content">
            <p class="rate-name">Alfredo Augusto <span class="rate-averagestars">4,5/5 <img src="/assets/imgs/star.svg"/> </span></p>
            <p class="rate-job">Assistente geral</p>
        </article>
    </figure>
    <div class="rate-stars margin-top2">
        <label class="star"></label>
        <label class="star"></label>
        <label class="star"></label>
        <label class="star"></label>
        <label class="star"></label>
    </div>
    <div class="margin-top4 full-width justifyContent-end">
        <div class="btn-secondary margin-right2">Cancelar</div>
        <div class="btn-primary">Salvar</div>
    </div>
</div>

<script src="/scripts/eventRatingScript.js"></script>
<script>addEvent('star','mouseover', changeColorStar)</script>