<link rel="stylesheet" href="/styles/css/homeUser.css" />
<script src="/scripts/homeScript.js"></script>
<div class="centralize">
    <div class="container">
        <div class="feed-header">
            <div class="filters">
                <ul class="group-categories">
                    <a title="ngo-events" href="#" class="category-link active-link">
                        <li title="ngo-events" target="my-events">Meus eventos</li>
                    </a>
                    <a title="ngo-members" href="#" class="category-link">
                        <li title="ngo-members">Membros</li>
                    </a>
                    <a title="search-volunteers" href="#" class="category-link">
                        <li title="search-volunteers">Procurar voluntários</li>
                    </a>
                </ul>
            </div>
            <a href="ngo/addEvent"><button class="btn-filters">Criar um evento</button></a>
        </div>
        <div class="group-nav" id="ngo-events">
            <nav class="nav-articles">
                <h1 class="title-nav">Meus eventos ativos</h1>
                <div class="group-articles">
                    <article class="feed-article">
                        <figure class="article-image">
                            <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                        </figure>
                        <div class="article-content">
                            <h1 class="article-title">Salve os Gatíneos</h1>
                            <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.
                            </h3>
                            <div class="article-ngo">
                                <figure class="article-ngo-avatar">
                                    <img src="/assets/imgs/adorable-animal-baby-1851164.jpg" />
                                </figure>
                                <div class="article-ngo-details">
                                    <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                                    <p class="article-ngo-date">12/06/2019</p>
                                </div>
                            </div>
                        </div>

                    </article>
                    <article class="feed-article">
                        <figure class="article-image">
                            <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                        </figure>
                        <div class="article-content">
                            <h1 class="article-title">Salve os Gatíneos</h1>
                            <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.
                            </h3>
                            <div class="article-ngo">
                                <figure class="article-ngo-avatar">
                                    <img src="/assets/imgs/adorable-animal-baby-1851164.jpg" />
                                </figure>
                                <div class="article-ngo-details">
                                    <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                                    <p class="article-ngo-date">12/06/2019</p>
                                </div>
                            </div>
                        </div>

                    </article>
                    <article class="feed-article">
                        <figure class="article-image">
                            <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                        </figure>
                        <div class="article-content">
                            <h1 class="article-title">Salve os Gatíneos</h1>
                            <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.
                            </h3>
                            <div class="article-ngo">
                                <figure class="article-ngo-avatar">
                                    <img src="/assets/imgs/adorable-animal-baby-1851164.jpg" />
                                </figure>
                                <div class="article-ngo-details">
                                    <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                                    <p class="article-ngo-date">12/06/2019</p>
                                </div>
                            </div>
                        </div>

                    </article>
                </div>
            </nav>
            <nav class="nav-articles">
                <h1 class="title-nav">Meus eventos encerrados</h1>
                <div class="group-articles">
                    <article class="feed-article event-closed">
                        <figure class="article-image">
                            <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                        </figure>
                        <div class="article-content">
                            <h1 class="article-title">Salve os Gatíneos</h1>
                            <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.
                            </h3>
                            <div class="article-ngo">
                                <figure class="article-ngo-avatar">
                                    <img src="/assets/imgs/adorable-animal-baby-1851164.jpg" />
                                </figure>
                                <div class="article-ngo-details">
                                    <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                                    <p class="article-ngo-date">12/06/2019</p>
                                </div>
                            </div>
                        </div>

                    </article>
                    <article class="feed-article event-closed">
                        <figure class="article-image">
                            <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                        </figure>
                        <div class="article-content">
                            <h1 class="article-title">Salve os Gatíneos</h1>
                            <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.
                            </h3>
                            <div class="article-ngo">
                                <figure class="article-ngo-avatar">
                                    <img src="/assets/imgs/adorable-animal-baby-1851164.jpg" />
                                </figure>
                                <div class="article-ngo-details">
                                    <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                                    <p class="article-ngo-date">12/06/2019</p>
                                </div>
                            </div>
                        </div>

                    </article>
                    <article class="feed-article event-closed">
                        <figure class="article-image">
                            <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                        </figure>
                        <div class="article-content">
                            <h1 class="article-title">Salve os Gatíneos</h1>
                            <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.
                            </h3>
                            <div class="article-ngo">
                                <figure class="article-ngo-avatar">
                                    <img src="/assets/imgs/adorable-animal-baby-1851164.jpg" />
                                </figure>
                                <div class="article-ngo-details">
                                    <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                                    <p class="article-ngo-date">12/06/2019</p>
                                </div>
                            </div>
                        </div>

                    </article>
                </div>
            </nav>
        </div>
        <div class="group-nav" id="ngo-members">
            <nav class="nav-articles">
                <h1 class="title-nav">Membros da minha ONG</h1>
            </nav>
        </div>
        <div class="group-nav" id="search-volunteers">
            <nav class="nav-articles">
                <h1 class="title-nav">Procurar novos voluntários</h1>
            </nav>
        </div>
    </div>
</div>

<script>init()</script>