<link rel="stylesheet" href="/styles/css/homeUser.css" />
<link rel="stylesheet" href="/styles/css/profile.css" />

<link rel="stylesheet" href="/styles/css/homeUser.css" />
<link rel="stylesheet" href="/styles/css/profile.css" />

<div class="centralize">
    <div class="container">

        <div class="profile-data">
            <figure class="profile-pic availableVolunteer">
                <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                <form>
                    <input type="checkbox" id="checkbox-subscribe">
                    <label for="checkbox-subscribe" id="btn-subscribe">Inscrever-se</label>
                </form>
            </figure>

            <div class="profile-name">
                <h1 class="username">{{data.nameVolunteer}} {{data.lastNameVolunteer}}</h1>
                <ul class="cases margin0">
                    {{#each causes}}
                    <li class="case"><a href="#">{{descCategory}}</a></li>
                    {{/each}}
                </ul>
            </div>
            <div class="profile-name">
                <h1 class="username">Cães e gatos</h1>
                <ul class="cases margin0">
                    <li class="case"><a href="#">Ambiental</a></li>
                    <li class="case"><a href="#">Animal</a></li>
                </ul>
            </div>
            <figure class="linkSettings">
                <img src="/assets/imgs/settings.svg" />
            </figure>
            <div class="profile-location-since">
                <h3 class="content">São Paulo, SP. Desde jul de 2019.</h3>
                <h3 class="content">Tel - (99) 9999-9999</h3>
            </div>
            <div class="profile-about">
                <p class="content">Irure dolore officia culpa irure sint cillum tempor culpa ex eu officia aute. Eu
                    occaecat dolore anim est. Nostrud excepteur minim cillum culpa ullamco irure sit non Lorem.
                    Lorem deserunt consequat consequat fugiat occaecat aliqua sit. Ad aliquip Lorem adipisicing sunt
                    quis et reprehenderit irure laboris irure nulla adipisicing qui. Enim enim fugiat irure et in
                    amet velit aliqua aute mollit.</p>
            </div>
        </div>

        <div class="profile-stats">
            <ul>
                <li><span class="number">8</span>Eventos realizados</li>
                <li><span class="number">41</span>Membros</li>
            </ul>
        </div>
        <div class="group-nav">
            <nav class="nav-articles">
                <h1 class="title padding-top2 margin-btm1">Meus eventos</h1>
                <div class="group-articles">
                    <article class="feed-article">
                        <figure class="article-image">
                            <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                        </figure>
                        <div class="article-content">
                            <h1 class="article-title">Salve os Gatíneos</h1>
                            <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.
                            </h3>
                            <div class="article-ngo-details">
                                <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                                <p class="article-ngo-date">12/06/2019</p>
                            </div>
                        </div>

                    </article>
                    <article class="feed-article">
                        <figure class="article-image">
                            <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                        </figure>
                        <div class="article-content">
                            <h1 class="article-title">Salve os Gatíneos</h1>
                            <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.
                            </h3>
                            <div class="article-ngo-details">
                                <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                                <p class="article-ngo-date">12/06/2019</p>
                            </div>
                        </div>

                    </article>
                    <article class="feed-article">
                        <figure class="article-image">
                            <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                        </figure>
                        <div class="article-content">
                            <h1 class="article-title">Salve os Gatíneos</h1>
                            <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.
                            </h3>
                            <div class="article-ngo-details">
                                <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                                <p class="article-ngo-date">12/06/2019</p>
                            </div>
                        </div>

                    </article>
                    <article class="feed-article">
                        <figure class="article-image">
                            <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                        </figure>
                        <div class="article-content">
                            <h1 class="article-title">Salve os Gatíneos</h1>
                            <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.
                            </h3>
                            <div class="article-ngo-details">
                                <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                                <p class="article-ngo-date">12/06/2019</p>
                            </div>
                        </div>

                    </article>
                    <article class="feed-article event-closed">
                        <figure class="article-image">
                            <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                        </figure>
                        <div class="article-content">
                            <h1 class="article-title">Salve os Gatíneos</h1>
                            <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.
                            </h3>
                            <div class="article-ngo-details">
                                <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                                <p class="article-ngo-date">12/06/2019</p>
                            </div>
                        </div>

                    </article>
                    <article class="feed-article event-closed">
                        <figure class="article-image">
                            <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                        </figure>
                        <div class="article-content">
                            <h1 class="article-title">Salve os Gatíneos</h1>
                            <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.
                            </h3>
                            <div class="article-ngo-details">
                                <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                                <p class="article-ngo-date">12/06/2019</p>
                            </div>
                        </div>

                    </article>
                    <article class="feed-article event-closed">
                        <figure class="article-image">
                            <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                        </figure>
                        <div class="article-content">
                            <h1 class="article-title">Salve os Gatíneos</h1>
                            <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.
                            </h3>
                            <div class="article-ngo-details">
                                <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                                <p class="article-ngo-date">12/06/2019</p>
                            </div>
                        </div>

                    </article>
                    <article class="feed-article event-closed">
                        <figure class="article-image">
                            <img src="/assets/imgs/animals-cats-cute-45170.jpg" />
                        </figure>
                        <div class="article-content">
                            <h1 class="article-title">Salve os Gatíneos</h1>
                            <h3 class="article-subitle">Venha salvar os gatíneos e eles serão os seus donos para sempre.
                            </h3>
                            <div class="article-ngo-details">
                                <p class="article-ngo-name">Por <a href="#">Cães e Gatos</a></p>
                                <p class="article-ngo-date">12/06/2019</p>
                            </div>
                        </div>

                    </article>
                </div>
            </nav>
        </div>
    </div>
</div>