// COLORS
$mainColor: #3171e0;
$mainColorLighter:rgb(82, 137, 231);
$lightBlue: #E0EAFB;
$lightBlue2: rgb(250, 250, 255);
$successColor: #2bd659;
$warningColor: #ffa600; 
$errorColor: #e42200;
$lightColor: #f9f9f9;
$lightGray: #e1e1e1;
$lightGray2: #c7c7c7;
$lightGray3: #f9f9f9;
$gray: #818181;
$darkGray: #3f3f3f;

// SIZES
$margin4: 40px;
$margin2: 20px;
$margin1: 10px;
$heightHeader: 155px;
$widthContainer: 80vw;
$fontBase: 1rem;

$small: 600px;
$medium: 768px;
$large: 992px;
$extraLarge: 1200px;

// Styles
$fontFamily: Nunito;
$border: 1px solid #eeeeee;
$borderColor: #eeeeee;

// Extends and classes

%box,.box {
  padding: $margin2 $margin4 $margin2 $margin4;
  background: white;
  border-radius: 7px;
  border: $border;
  box-shadow: 0 6px 12px -3px rgba(0, 0, 0, 0.16);
}

.width-auto {
  width: auto;
  flex-grow: 0;
}

%title, .title {
  font-size: 2rem;
  font-weight: 900;
  margin: 0 0 0 0;
  word-wrap: normal;
}

%text, .text {
  font-size: 1.15rem;
  margin: 0 0 0 0;
  word-wrap: normal;
}

%text-center, .text-center{
  text-align: center;
}

%text-left, .text-left{
  text-align: left;
}

%text-right, .text-right{
  text-align: right;
}

%smallest-text, .smallest-text{
  font-size: 0.8rem;
}

%small-text, .small-text {
  font-size: $fontBase;
}

%medium-text, .medium-text {
  font-size: 1.5rem;
}

%big-text, .big-text {
  font-size: 2.5rem;
}

%light-weight-text, .light-weight-text {
  font-weight: 100;
}

%medium-weight-text, .medium-weight-text {
  font-weight: 500;
}

%large-weight-text, .large-weight-text {
  font-weight: 800;
}

%bold, .bold{
  font-weight: bold;
}

%span-rounded, .span-rounded{
  padding: 5px 10px 5px 10px;
  border-radius: 7px;
  text-align: center;
  vertical-align: center;
}

%blue-rounded, .blue-rounded{
  @extend %span-rounded;
  background: rgba(49, 113, 224,0.2);
  color: $mainColor;
  font-weight: 500;
}

%green-rounded, .green-rounded{
  @extend %span-rounded;
  background: rgba(43, 214, 89,0.1);
  color:$successColor;
  font-weight: 500;
}

%red-rounded, .red-rounded{
  @extend %span-rounded;
  background: rgba(228, 34, 0,0.1);
  color: $errorColor;
  font-weight: 500;
}

%gray, .gray{
  color: $gray;
}

%blue, .blue {
  color: $mainColor;
}

%red, .red{
  color: $errorColor;
}

%green, .green{
  color: $successColor;
}

%border, .border{
  border: $border !important;
}

%border-none, .border-none{
  border: none !important;
}

%border-top, .border-top{
  border-top: $border;
}

%border-left, .border-left{
  border-left: $border;
}

%border-right, .border-right{
  border-right: $border;
}

%border-bottom, .border-bottom{
  border-bottom: $border;
}

%border-radius-4, .border-radius-4{
  border-radius: 4px;
}

%border-radius-7, .border-radius-7{
  border-radius: 7px;
}

%transition-025, .transition-025{
  transition: .25s;
}

%transition-050, .transition-050{
  transition: .50s;
}

%inline-icon, .inline-icon{
  height: 1.2rem;
  width: auto;
  display: inline-block;
}

.bg-lightBlue {
  background: $lightBlue2;
}

%bg-lightGray, .bg-lightGray {
  background: $lightGray3;
}

.margin0{
  margin: 0 !important;
}

.margin-top1 {
  margin-top: $margin2 / 2 !important;
}

.margin-top2 {
  margin-top: $margin2 !important;
}

.margin-top4 {
  margin-top: $margin4 !important;
}

.margin-right1{
  margin-right: $margin2 / 2 !important;
}

.margin-right2{
  margin-right: $margin2 !important;
}

.margin-right4{
  margin-right: $margin4 !important;
}

.margin-btm4 {
  margin-bottom: $margin4 !important;
}

.margin-btm2 {
  margin-bottom: $margin2 !important;
}

.margin-btm1 {
  margin-bottom: $margin2 / 2 !important;
}

.margin-left1{
  margin-left: $margin2 / 2 !important;
}

.margin-left2{
  margin-left: $margin2 !important;
}

.margin-left4{
  margin-left: $margin4 !important;
}

.padding0{
  padding: 0 !important;
}

.padding-top2 {
  padding-top: $margin2 !important;
}

.padding-top4 {
  padding-top: $margin4 !important;
}

.padding-right2{
  padding-right: $margin2 !important;
}

.padding-right4{
  padding-right: $margin4 !important;
}

.padding-left2{
  padding-left: $margin2 !important;
}

.padding-left4{
  padding-left: $margin4 !important;
}

.padding-btm1{
  padding-bottom: $margin1 !important;
}

.padding-btm2 {
  padding-bottom: $margin2 !important;
}

.padding-btm4 {
  padding-bottom: $margin4 !important;
}

.padding-1{
  padding: $margin1 !important;
}

.padding-2{
  padding: $margin2 !important;
}

.padding-4 {
  padding: $margin4 !important;
}

.border-box {
  box-sizing: border-box;
}

.block {
  display: block;
}

%button, .button {
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  padding: 12px 20px 12px 20px;
  border-radius: 7px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin-top: $margin2;
  font-family: $fontFamily;
  outline: 0;
  &:focus{
    box-shadow: inset 0 0 5px $lightGray2;
  }
  &:disabled {
    opacity: 0.25;
    cursor: default;
  }
}

%btn-primary,
.btn-primary {
  @extend %button;
  background: $mainColor;
  color: white;
  box-shadow: 0 6px 12px -1.5px $lightBlue;
}

%btn-secondary,
.btn-secondary {
  @extend %button;
  background: #f9f9f9;
  border: $border;
  color: $mainColor;
}

%btn-callaction, .btn-callaction{
  @extend %button;
  background: $mainColor;
  color: white;
  border-radius: 24px;
  box-shadow: 0 3px 6px -3px $lightBlue;
  &:focus{
    background: #f9f9f9;
  }
}

%btn-outlined, .btn-outlined{
  @extend %button;
  background: $lightGray3;
  color: black;
  border: $border;
  border-color: $lightGray2;
  transition: .25s;
}

%btn-danger,.btn-danger {
  @extend %button;
  background: $errorColor;
  color: white;
  border: $border;
}

%btn-danger-outlined, .btn-danger-outlined{
  @extend %button;
  background: $lightGray3;
  color: $errorColor;
  border: $border;
}

%btn-danger-borderless, .btn-danger-borderless{
  @extend %btn-danger-outlined;
  border: none;
  background: none;
}

.group-asides {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  width: 100vw;
  .aside {
    height: 100%;
  }
}

.full-width{
  width: 100%;
}

.width-100{
  width: 100vw;
}

.width-70{
  width: 70vw;
}

.width-60 {
  width: 60vw;
}

.width-50 {
  width: 50vw;
}

.width-40 {
  width: 40vw;
}

.width-30{
  width: 30vw;
}

.width-20{
  width: 20vw;
}

.width-10{
  width: 10vw;
}

.cursor-pointer{
  cursor: pointer;
}

%display-none, .display-none{
  display: none;
}

%display-block, .display-block{
  display: block;
}

%display-inline, .display-inline{
  display: inline;
}

%display-inlineBlock, .display-inlineBlock{
  display: inline-block;
}

%display-flex, .display-flex{
  display: flex;
}

%display-grid, .display-grid{
  display: grid;
}

%display-inlineFlex, .display-inlineFlex{
  display: inline-flex;
}

%visibility-hidden, .visibility-hidden{
  visibility: hidden;
}

%justifyContent-start, .justifyContent-start{
  @extend %display-flex;
  justify-content: start;
}

%justifyContent-center, .justifyContent-center{
  @extend %display-flex;
  justify-content: center;
}

%justifyContent-end, .justifyContent-end{
  @extend %display-flex;
  justify-content: flex-end;
}

%justifyContent-between, .justifyContent-between{
  @extend %display-flex;
  justify-content: space-between;
}

%justifyContent-around, .justifyContent-around{
  @extend %display-flex;
  justify-content: space-around;
}

%grow-0, .grow-0{
  flex-grow: 0;
}

%grow-1, .grow-1{
  flex-grow: 1;
}

%grow-0, .grow-0{
  flex-grow: 0;
}

%grow-1fr, .grow-1fr{
  flex-grow: 1fr;
}

%grow-2fr, .grow-2fr{
  flex-grow: 2fr;
}

%collumns-2, .collumns-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

%collumns-4, .collumns-4{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

%gap-1, .gap-1{
  grid-gap: $margin1;
}

%gap-2, .gap-2{
  grid-gap: $margin2;
}

%gap-4, .gap-4{
  grid-gap: $margin2;
}

%flex-column, .flex-column{
  @extend %display-flex;
  flex-direction: column;
}

%flex-row, .flex-row{
  @extend %display-flex;
  flex-direction: row;
}

%flex-wrap, .flex-wrap{
  @extend %display-flex;
  flex-wrap: wrap;
}

%flex-nowrap, .flex-nowrap{
  @extend %display-flex;
  flex-wrap: nowrap;
}

.align-center {
  display: flex !important;
  align-items: center;
}

.centralize {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100vmax !important;
}

.centralize-auto{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: auto;
}

.container {
  box-sizing: border-box;
  position: relative;
  width: $widthContainer;
}

.steps {
  padding: 0;
  margin: 0 0 $margin4 0;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  li {
    position: relative;
    display: flex;
    padding: 0 0 0 $margin2;
    font-size: 1.75em;
    font-weight: 500;
    color: black;
    border-bottom: 3px solid #f2f2f2;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.5s;
    &:after {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;
      height: 3px;
      width: 0;
      transition: width 1s ease;
      transform-origin: left right;
    }
    &:first-child {
      padding: 0 $margin2 0 0;
    }
  }
  li.progress {
    opacity: 1;
    &:after {
      width: 100%;
      background: $mainColor;
    }
  }
}

.disabled {
  opacity: 0.5;
  cursor: default;
}

// Fonts

@font-face {
  font-family: $fontFamily;
  font-weight: normal;
  src: url("../../assets/fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: $fontFamily;
  font-weight: 500;
  src: url("../../assets/fonts/Nunito-SemiBold.ttf");
}

@font-face {
  font-family: $fontFamily;
  font-weight: 700;
  src: url("../../assets/fonts/Nunito-Bold.ttf");
}

@font-face {
  font-family: $fontFamily;
  font-weight: 800;
  src: url("../../assets/fonts/Nunito-ExtraBold.ttf");
}