// COLORS
$mainColor: #3171e0;
$lightBlue: #E0EAFB;
$lightBlue2: rgb(250, 250, 255);
$successColor: #2bd659;
$warningColor: #ffa600; 
$errorColor: #e42200;
$lightColor: #f9f9f9;
$lightGray: #e1e1e1;
$lightGray2: #c7c7c7;
$gray: #818181;
$darkGray: #3f3f3f;

// SIZES
$margin4: 40px;
$margin2: 20px;
$heightHeader: 155px;
$widthContainer: 80%;

// FONTS
$fontFamily: Nunito;

@font-face {
  font-family: $fontFamily;
  font-weight: normal;
  src: url("../../assets/fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: $fontFamily;
  font-weight: 500;
  src: url("../../assets/fonts/Nunito-SemiBold.ttf");
}

@font-face {
  font-family: $fontFamily;
  font-weight: 700;
  src: url("../../assets/fonts/Nunito-Bold.ttf");
}

@font-face {
  font-family: $fontFamily;
  font-weight: 800;
  src: url("../../assets/fonts/Nunito-ExtraBold.ttf");
}